<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./../../template/_layoutadminstrator.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="content">
        <h:form>
            <ui:include src="form_district.xhtml"/>
            <div class="action">
                <h:commandButton action="#{districtsEntityController.create}" value="Add New District"/>
                <h:commandButton action="#{dddd}" value="Reset"/>
            </div>
        </h:form>
    </ui:define>
</ui:composition>