<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <div class="form-product">
        <table>
            <tr>
                <td>
                    <h:outputLabel value="#{bundle.CreateDistrictsEntityLabel_districtName}" for="districtName" />
                </td>
                <td>
                    <h:inputText a:placeholder="District Name" value="#{districtsEntityController.selected.districtName}" id="districtName"/>
                </td>
                <td><span>*<h:message for="districtName"/></span></td>
            </tr>
            <tr>
                <td>
                    <h:outputLabel value="#{bundle.CreateProductsEntityLabel_name}" for="provinceId" />
                </td>
                <td>
                    <h:selectOneMenu value="#{districtsEntityController.selected.provinceId}" id="provinceid" required="true" requiredMessage="#{bundle.CreateDistrictsEntityRequiredMessage_provinceId}">
                        <f:selectItems value="#{districtsEntityController.returnProvince}"/>
                    </h:selectOneMenu>
                </td>
                <td><span><h:message for="provinceid"/></span></td>
            </tr>
            <tr>
                <td colspan="3"><h:messages class="messagesucsess"/></td>
            </tr>
        </table>
    </div>
</ui:composition>