<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./css/adminstrator.css"/>
        <h:outputStylesheet name="./css/ddlevelsmenu-base.css"/>
        <h:outputStylesheet name="./css/ddlevelsmenu-topbar.css"/>
        <h:outputStylesheet name="./css/green.css"/>
        <h:outputStylesheet name="./css/dcmegamenu.css"/>
        <h:outputStylesheet name="./css/jquery-ui-1.8.23.custom.css"/>
        <h:outputScript name="./js/ddlevelsmenu.js"/>
        <h:outputScript name="./js/jquery-1.8.3.min.js"/>
        <h:outputScript name="./js/jquery-ui-1.8.23.custom.min.js"/>
        <!--<h:outputScript name="./js/jquery.min.js"/>-->
        <h:outputScript name="./js/jquery.dcmegamenu.1.3.3.js"/>
        <h:outputScript name="./js/jquery.hoverIntent.minified.js"/>
        <script>
            $(document).ready(function () {
                $('table tr:odd').addClass('odd');
            });
        </script>
        <script>
            $(document).ready(function () {
                $(".datepicker").datepicker();
            });
        </script>
        <script>
            $('#mega-menu-4').dcMegaMenu({
                rowItems: '3',
                speed: 'fast',
                effect: 'fade'
            });
        </script>
        <title>Facelets Template</title>
    </h:head>

    <h:body>
        <div id="top">
            <ui:insert name="top">
                <ui:include src="../header_footer_adminstrator/header.xhtml"/>
            </ui:insert>
        </div>

        <div id="content" class="center_content">
            <ui:insert name="content"></ui:insert>
        </div>

        <div id="bottom">
            <ui:insert name="bottom">
                <ui:include src="../header_footer_adminstrator/footer.xhtml"/>
            </ui:insert>
        </div>

    </h:body>

</html>
