<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <div class="form-product">
        <table>
            <tr>
                <td>
                    <h:outputLabel value="#{bundle.ViewOrdersEntityLabel_amount}" for="amount"/>
                    <h:inputText a:placeholder="Amount" value="#{ordersEntityController.selected.amount}" id="amount" required="true" requiredMessage="#{bundle.CreateOrdersEntityRequiredMessage_amount}"/>
                    <span>*<h:message for="amount"/></span>
                </td>
                <td>
                    <h:outputLabel value="#{bundle.CreateOrdersEntityLabel_orderDate}" for="orderdate"/>
                    <h:inputText a:placeholder="Order Date" value="#{ordersEntityController.selected.orderDate}" class="datepicker" id="orderdate" required="true" requiredMessage="#{bundle.CreateOrdersEntityRequiredMessage_orderDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy"/>
                    </h:inputText>
                    <span>*<h:message for="orderdate"/></span>
                </td>
            </tr>
            <tr>
                <td>
                    <h:outputLabel value="#{bundle.CreateOrdersEntityLabel_orderShippingStatus}" for="ordershippingstatus"/>
                    <h:selectOneMenu value="#{ordersEntityController.selected.orderShippingStatus}">
                        <f:selectItem itemValue='0' itemLabel="Dang Xu Ly Don Hang"/>
                        <f:selectItem itemValue='1' itemLabel="Ket Thuc Don Hang"/>
                    </h:selectOneMenu>
                </td>
                <td>
                    <h:outputLabel value="#{bundle.CreateOrdersEntityLabel_paymentType}" for="paymenttype"/>
                    <h:inputText a:placeholder="Payment Type" value="#{ordersEntityController.selected.paymentType}" id="paymenttype" required="true" requiredMessage="#{bundle.CreateOrdersEntityRequiredMessage_paymentType}"/>
                    <span>*<h:message for="paymenttype"/></span>
                </td>
            </tr>
            <tr>
                <td>
                    <h:outputLabel value="#{bundle.CreateOrdersEntityLabel_currencyCode}" for="currencyCode" />
                    <h:inputText a:placeholder="Currency Code" value="#{ordersEntityController.selected.currencyCode}" id="curencyCode" required="true" requiredMessage="#{bundle.CreateOrdersEntityRequiredMessage_currencyCode}"/>
                    <span>*<h:message for="currencyCode"/></span>
                </td>
                <td>
                    <h:outputLabel value="#{bundle.CreateOrdersEntityLabel_shippingStreet}" for="shippingStreet" />
                    <h:inputText a:placeholder="Shipping Street" value="#{ordersEntityController.selected.shippingStreet}" id="shippingStreet" required="true" requiredMessage="#{bundle.CreateOrdersEntityRequiredMessage_shippingStreet}"/>
                    <span>*<h:message for="shippingStreet"/></span>
                </td>
            </tr>
            <tr>
                <td>
                    <h:outputLabel value="#{bundle.CreateOrdersEntityLabel_shippingProvince}" for="shippingProvince" />
                    <h:selectOneMenu value="#{ordersEntityController.selected.provinceId}" id="shippingProvince" required="true" requiredMessage="#{bundle.CreateOrdersEntityRequiredMessage_shippingProvince}">
                        <f:selectItem itemValue="#{null}" itemLabel="--Chon Tinh/Thanh Pho--"/>
                        <f:selectItems value="#{ordersEntityController.returnProvince}"/>
                        <f:ajax event="change" render="shippingDistrict" listener="#{ordersEntityController.loadDistrictBasedProvince()}"/>
                    </h:selectOneMenu>
                </td>
                <td>
                    <h:outputLabel value="#{bundle.CreateOrdersEntityLabel_shippingDistrict}" for="shippingDistrict" />

                    <h:selectOneMenu value="#{ordersEntityController.selected.districtId}" id="shippingDistrict" required="true" requiredMessage="#{bundle.CreateOrdersEntityRequiredMessage_shippingDistrict}">
                        <f:selectItem value="#{null}" itemLabel="--Chon Quan/Huyen--"/>
                        <f:selectItems value="#{ordersEntityController.returnDistrict}"/>
                    </h:selectOneMenu>
                </td>
            </tr>
            <tr>
                <td>
                    <h:outputLabel value="#{bundle.CreateOrdersEntityLabel_shippingCountry}" for="shippingCountry" />
                    <h:selectOneMenu value="#{ordersEntityController.selected.shippingCountry}" id="shippingCountry" required="true" requiredMessage="#{bundle.CreateOrdersEntityRequiredMessage_shippingCountry}">
                        <f:selectItem itemValue="VN" itemLabel="Viet Nam"/>
                        <f:selectItem itemValue="LAO" itemLabel="Lao"/>
                    </h:selectOneMenu>
                    <span>*<h:message for="shippingCountry"/></span>
                </td>
                <td>
                    <h:outputLabel value="#{bundle.CreateOrdersEntityLabel_phoneNumber}" for="phoneNumber" />
                    <h:inputText a:placeholder="Phone Number" value="#{ordersEntityController.selected.phoneNumber}" id="phoneNumber" required="true" requiredMessage="#{bundle.CreateOrdersEntityRequiredMessage_phoneNumber}"/>
                    <span>*<h:message for="phoneNumber"/></span>
                </td>
            </tr>
            <tr>
                <td>
                    <h:outputLabel value="Customer Name" for="customerid"/>
                    <h:selectOneMenu id="customerid" value="#{ordersEntityController.selected.customerId}" required="true" requiredMessage="#{bundle.CreateOrdersEntityRequiredMessage_customerId}">
                        <f:selectItems value="#{ordersEntityController.returnCustomer}"/>
                    </h:selectOneMenu>
                    <span>*<h:message for="customerid"/></span>
                </td>
                <td>&nbsp;</td>
            </tr>
        </table>
        <h:messages class="messagesucsess"/>
    </div>
</ui:composition>