<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./../../template/_layoutadminstrator.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <div class="main">
            <div class="content">
                <h:form>
                    <div class="content-top">
                        <div id="p-left">
                            <label>Danh Sach Don Dat Hang</label>
                        </div>
                        <div id="p-right">
                            <h:commandButton action="#{ordersEntityController.prepareCreate()}" value="Them Moi"/>
                        </div>
                    </div>
                    <div class="content-bottom">
                        <div class="search">
                            <div class="search-input">
                                <h:inputText value="#{ordersEntityController.name}"  id="customername" />
                                <h:commandButton action="#{ordersEntityController.searchResult()}" value="Search"/>
                            </div>
                            <div class="messages">
                                <h:messages class="messagesucsess"/>
                            </div>
                        </div>
                        <div class="viewproduct">
                            <h:outputText escape="false" value="Khong Tim Thay Khach Hang Trong Danh Sach Dat Hang" rendered="#{ordersEntityController.items.rowCount==0}"/>
                            <h:panelGroup rendered="#{ordersEntityController.items.rowCount > 0}">
                                <div class="pagenumber">
                                    <h:outputText value="#{ordersEntityController.pagination.pageFirstItem + 1}..#{ordersEntityController.pagination.pageLastItem + 1}/#{ordersEntityController.pagination.itemsCount}"/>&nbsp;
                                    <h:commandLink action="#{ordersEntityController.previous}" value="#{bundle.Previous} #{ordersEntityController.pagination.pageSize}" rendered="#{ordersEntityController.pagination.hasPreviousPage}"/>&nbsp;
                                    <h:commandLink action="#{ordersEntityController.next}" value="#{bundle.Next} #{ordersEntityController.pagination.pageSize}" rendered="#{ordersEntityController.pagination.hasNextPage}"/>&nbsp;
                                </div>
                                <h:dataTable value="#{ordersEntityController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListOrdersEntityTitle_orderId}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.orderId}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListOrdersEntityTitle_amount}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.amount}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListOrdersEntityTitle_orderDate}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.orderDate}">
                                            <f:convertDateTime pattern="MM/dd/yyyy" />
                                        </h:outputText>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListOrdersEntityTitle_orderShippingStatus}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.orderShippingStatus}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListOrdersEntityTitle_paymentType}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.paymentType}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListOrdersEntityTitle_currencyCode}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.currencyCode}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListOrdersEntityTitle_shippingStreet}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.shippingStreet}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListOrdersEntityTitle_shippingDistrict}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.districtId.districtName}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListOrdersEntityTitle_shippingProvince}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.provinceId.provinceName}"/>
                                    </h:column>
                                    <!--<h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListOrdersEntityTitle_shippingCountry}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.shippingCountry}"/>
                                    </h:column>-->
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListOrdersEntityTitle_phoneNumber}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.phoneNumber}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListOrdersEntityTitle_customerId}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.customerId.firstName}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="&nbsp;"/>
                                        </f:facet>
                                        <h:commandLink action="#{ordersEntityController.prepareEdit}">
                                            <h:graphicImage library="images" name="icon-edit.jpg"/>
                                        </h:commandLink>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="&nbsp;"/>
                                        </f:facet>
                                        <h:commandLink action="#{ordersEntityController.destroy}">
                                            <h:graphicImage library="images" name="icon-delete.jpg"/>
                                        </h:commandLink>
                                    </h:column>
                                </h:dataTable>
                            </h:panelGroup>
                        </div>
                    </div>
                </h:form>
            </div>
        </div>
    </ui:define>
</ui:composition>