<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                template="./../../template/_layoutadminstrator.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <div class="main">
            <div class="content">
                <h:form>
                    <div class="content-top">
                        <div id="p-left">
                            <label>Danh sach Quyen Han</label>
                        </div>
                        <div id="p-right">
                            <h:commandButton action="#{rolesEntityController.prepareCreate()}" value="Them Moi"/>
                        </div>
                    </div>
                    <div class="content-bottom">
                        <div class="search">
                            <div class="search-input">
                                <h:inputText a:placeholder="Employee Name" value="#{rolesEntityController.roleName}"  id="employeename" />
                                <h:commandButton action="#{rolesEntityController.returnSearch()}" value="Tim Kiem"/>
                            </div>
                            <div class="messages">
                                <h:messages class="messagesucsess"/>
                            </div>
                        </div>
                        <div class="viewproduct">
                            <h:panelGroup rendered="#{rolesEntityController.items.rowCount > 0}">
                                <div class="pagenumber">
                                    <h:outputText value="#{rolesEntityController.pagination.pageFirstItem + 1}..#{rolesEntityController.pagination.pageLastItem + 1}/#{rolesEntityController.pagination.itemsCount}"/>&nbsp;
                                    <h:commandLink action="#{rolesEntityController.previous}" value="#{bundle.Previous} #{rolesEntityController.pagination.pageSize}" rendered="#{rolesEntityController.pagination.hasPreviousPage}"/>&nbsp;
                                    <h:commandLink action="#{rolesEntityController.next}" value="#{bundle.Next} #{rolesEntityController.pagination.pageSize}" rendered="#{rolesEntityController.pagination.hasNextPage}"/>&nbsp;
                                </div>
                                <h:dataTable value="#{rolesEntityController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListRolesEntityTitle_roleId}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.roleId}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListRolesEntityTitle_roleName}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.roleName}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="&nbsp;"/>
                                        </f:facet>
                                        <h:commandLink action="#{rolesEntityController.prepareEdit}">
                                            <h:graphicImage library="images" name="icon-edit.jpg"/>
                                        </h:commandLink>
                                    </h:column>
                                    <h:column>
                                        <h:commandLink action="#{rolesEntityController.destroy}">
                                            <h:graphicImage library="images" name="icon-delete.jpg"/>
                                        </h:commandLink>
                                    </h:column>
                                </h:dataTable>
                            </h:panelGroup>
                        </div>
                    </div>
                </h:form>
            </div>
        </div>
    </ui:define>
</ui:composition>