<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateCategorysEntityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateCategorysEntityLabel_categoryId}" for="categoryId" />
                    <h:inputText id="categoryId" value="#{categorysEntityController.selected.categoryId}" title="#{bundle.CreateCategorysEntityTitle_categoryId}" required="true" requiredMessage="#{bundle.CreateCategorysEntityRequiredMessage_categoryId}"/>
                    <h:outputLabel value="#{bundle.CreateCategorysEntityLabel_name}" for="name" />
                    <h:inputText id="name" value="#{categorysEntityController.selected.name}" title="#{bundle.CreateCategorysEntityTitle_name}" required="true" requiredMessage="#{bundle.CreateCategorysEntityRequiredMessage_name}"/>
                    <h:outputLabel value="#{bundle.CreateCategorysEntityLabel_description}" for="description" />
                    <h:inputText id="description" value="#{categorysEntityController.selected.description}" title="#{bundle.CreateCategorysEntityTitle_description}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{categorysEntityController.create}" value="#{bundle.CreateCategorysEntitySaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{categorysEntityController.prepareList}" value="#{bundle.CreateCategorysEntityShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateCategorysEntityIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
