<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListCategorysEntityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListCategorysEntityEmpty}" rendered="#{categorysEntityController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{categorysEntityController.items.rowCount > 0}">
                    <h:outputText value="#{categorysEntityController.pagination.pageFirstItem + 1}..#{categorysEntityController.pagination.pageLastItem + 1}/#{categorysEntityController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{categorysEntityController.previous}" value="#{bundle.Previous} #{categorysEntityController.pagination.pageSize}" rendered="#{categorysEntityController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{categorysEntityController.next}" value="#{bundle.Next} #{categorysEntityController.pagination.pageSize}" rendered="#{categorysEntityController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{categorysEntityController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCategorysEntityTitle_categoryId}"/>
                            </f:facet>
                            <h:outputText value="#{item.categoryId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCategorysEntityTitle_name}"/>
                            </f:facet>
                            <h:outputText value="#{item.name}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCategorysEntityTitle_description}"/>
                            </f:facet>
                            <h:outputText value="#{item.description}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{categorysEntityController.prepareView}" value="#{bundle.ListCategorysEntityViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{categorysEntityController.prepareEdit}" value="#{bundle.ListCategorysEntityEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{categorysEntityController.destroy}" value="#{bundle.ListCategorysEntityDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{categorysEntityController.prepareCreate}" value="#{bundle.ListCategorysEntityCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListCategorysEntityIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
