<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewCategorysEntityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewCategorysEntityLabel_categoryId}"/>
                    <h:outputText value="#{categorysEntityController.selected.categoryId}" title="#{bundle.ViewCategorysEntityTitle_categoryId}"/>
                    <h:outputText value="#{bundle.ViewCategorysEntityLabel_name}"/>
                    <h:outputText value="#{categorysEntityController.selected.name}" title="#{bundle.ViewCategorysEntityTitle_name}"/>
                    <h:outputText value="#{bundle.ViewCategorysEntityLabel_description}"/>
                    <h:outputText value="#{categorysEntityController.selected.description}" title="#{bundle.ViewCategorysEntityTitle_description}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{categorysEntityController.destroyAndView}" value="#{bundle.ViewCategorysEntityDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewCategorysEntityEditLink}"/>
                <br />
                <h:commandLink action="#{categorysEntityController.prepareCreate}" value="#{bundle.ViewCategorysEntityCreateLink}" />
                <br />
                <h:commandLink action="#{categorysEntityController.prepareList}" value="#{bundle.ViewCategorysEntityShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewCategorysEntityIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
