<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditRolesEntityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditRolesEntityLabel_roleId}" for="roleId" />
                    <h:inputText id="roleId" value="#{rolesEntityController.selected.roleId}" title="#{bundle.EditRolesEntityTitle_roleId}" required="true" requiredMessage="#{bundle.EditRolesEntityRequiredMessage_roleId}"/>
                    <h:outputLabel value="#{bundle.EditRolesEntityLabel_roleName}" for="roleName" />
                    <h:inputText id="roleName" value="#{rolesEntityController.selected.roleName}" title="#{bundle.EditRolesEntityTitle_roleName}" required="true" requiredMessage="#{bundle.EditRolesEntityRequiredMessage_roleName}"/>
                </h:panelGrid>
                <h:commandLink action="#{rolesEntityController.update}" value="#{bundle.EditRolesEntitySaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditRolesEntityViewLink}"/>
                <br />
                <h:commandLink action="#{rolesEntityController.prepareList}" value="#{bundle.EditRolesEntityShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditRolesEntityIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
