<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListRolesEntityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListRolesEntityEmpty}" rendered="#{rolesEntityController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{rolesEntityController.items.rowCount > 0}">
                    <h:outputText value="#{rolesEntityController.pagination.pageFirstItem + 1}..#{rolesEntityController.pagination.pageLastItem + 1}/#{rolesEntityController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{rolesEntityController.previous}" value="#{bundle.Previous} #{rolesEntityController.pagination.pageSize}" rendered="#{rolesEntityController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{rolesEntityController.next}" value="#{bundle.Next} #{rolesEntityController.pagination.pageSize}" rendered="#{rolesEntityController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{rolesEntityController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRolesEntityTitle_roleId}"/>
                            </f:facet>
                            <h:outputText value="#{item.roleId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRolesEntityTitle_roleName}"/>
                            </f:facet>
                            <h:outputText value="#{item.roleName}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{rolesEntityController.prepareView}" value="#{bundle.ListRolesEntityViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{rolesEntityController.prepareEdit}" value="#{bundle.ListRolesEntityEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{rolesEntityController.destroy}" value="#{bundle.ListRolesEntityDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{rolesEntityController.prepareCreate}" value="#{bundle.ListRolesEntityCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListRolesEntityIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
