<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditEmployeesEntityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditEmployeesEntityLabel_employeeId}" for="employeeId" />
                    <h:inputText id="employeeId" value="#{employeesEntityController.selected.employeeId}" title="#{bundle.EditEmployeesEntityTitle_employeeId}" required="true" requiredMessage="#{bundle.EditEmployeesEntityRequiredMessage_employeeId}"/>
                    <h:outputLabel value="#{bundle.EditEmployeesEntityLabel_firstName}" for="firstName" />
                    <h:inputText id="firstName" value="#{employeesEntityController.selected.firstName}" title="#{bundle.EditEmployeesEntityTitle_firstName}" required="true" requiredMessage="#{bundle.EditEmployeesEntityRequiredMessage_firstName}"/>
                    <h:outputLabel value="#{bundle.EditEmployeesEntityLabel_lastName}" for="lastName" />
                    <h:inputText id="lastName" value="#{employeesEntityController.selected.lastName}" title="#{bundle.EditEmployeesEntityTitle_lastName}" required="true" requiredMessage="#{bundle.EditEmployeesEntityRequiredMessage_lastName}"/>
                    <h:outputLabel value="#{bundle.EditEmployeesEntityLabel_gender}" for="gender" />
                    <h:inputText id="gender" value="#{employeesEntityController.selected.gender}" title="#{bundle.EditEmployeesEntityTitle_gender}" />
                    <h:outputLabel value="#{bundle.EditEmployeesEntityLabel_dateOfBirth}" for="dateOfBirth" />
                    <h:inputText id="dateOfBirth" value="#{employeesEntityController.selected.dateOfBirth}" title="#{bundle.EditEmployeesEntityTitle_dateOfBirth}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditEmployeesEntityLabel_email}" for="email" />
                    <h:inputText id="email" value="#{employeesEntityController.selected.email}" title="#{bundle.EditEmployeesEntityTitle_email}" required="true" requiredMessage="#{bundle.EditEmployeesEntityRequiredMessage_email}"/>
                    <h:outputLabel value="#{bundle.EditEmployeesEntityLabel_phoneNumber}" for="phoneNumber" />
                    <h:inputText id="phoneNumber" value="#{employeesEntityController.selected.phoneNumber}" title="#{bundle.EditEmployeesEntityTitle_phoneNumber}" />
                    <h:outputLabel value="#{bundle.EditEmployeesEntityLabel_addressId}" for="addressId" />
                    <h:selectOneMenu id="addressId" value="#{employeesEntityController.selected.addressId}" title="#{bundle.EditEmployeesEntityTitle_addressId}" required="true" requiredMessage="#{bundle.EditEmployeesEntityRequiredMessage_addressId}">
                        <f:selectItems value="#{addressEntityController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{employeesEntityController.update}" value="#{bundle.EditEmployeesEntitySaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditEmployeesEntityViewLink}"/>
                <br />
                <h:commandLink action="#{employeesEntityController.prepareList}" value="#{bundle.EditEmployeesEntityShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditEmployeesEntityIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
