<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListEmployeesEntityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListEmployeesEntityEmpty}" rendered="#{employeesEntityController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{employeesEntityController.items.rowCount > 0}">
                    <h:outputText value="#{employeesEntityController.pagination.pageFirstItem + 1}..#{employeesEntityController.pagination.pageLastItem + 1}/#{employeesEntityController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{employeesEntityController.previous}" value="#{bundle.Previous} #{employeesEntityController.pagination.pageSize}" rendered="#{employeesEntityController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{employeesEntityController.next}" value="#{bundle.Next} #{employeesEntityController.pagination.pageSize}" rendered="#{employeesEntityController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{employeesEntityController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEmployeesEntityTitle_employeeId}"/>
                            </f:facet>
                            <h:outputText value="#{item.employeeId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEmployeesEntityTitle_firstName}"/>
                            </f:facet>
                            <h:outputText value="#{item.firstName}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEmployeesEntityTitle_lastName}"/>
                            </f:facet>
                            <h:outputText value="#{item.lastName}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEmployeesEntityTitle_gender}"/>
                            </f:facet>
                            <h:outputText value="#{item.gender}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEmployeesEntityTitle_dateOfBirth}"/>
                            </f:facet>
                            <h:outputText value="#{item.dateOfBirth}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEmployeesEntityTitle_email}"/>
                            </f:facet>
                            <h:outputText value="#{item.email}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEmployeesEntityTitle_phoneNumber}"/>
                            </f:facet>
                            <h:outputText value="#{item.phoneNumber}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEmployeesEntityTitle_addressId}"/>
                            </f:facet>
                            <h:outputText value="#{item.addressId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{employeesEntityController.prepareView}" value="#{bundle.ListEmployeesEntityViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{employeesEntityController.prepareEdit}" value="#{bundle.ListEmployeesEntityEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{employeesEntityController.destroy}" value="#{bundle.ListEmployeesEntityDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{employeesEntityController.prepareCreate}" value="#{bundle.ListEmployeesEntityCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListEmployeesEntityIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
