<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateOrdersEntityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateOrdersEntityLabel_orderId}" for="orderId" />
                    <h:inputText id="orderId" value="#{ordersEntityController.selected.orderId}" title="#{bundle.CreateOrdersEntityTitle_orderId}" required="true" requiredMessage="#{bundle.CreateOrdersEntityRequiredMessage_orderId}"/>
                    <h:outputLabel value="#{bundle.CreateOrdersEntityLabel_amount}" for="amount" />
                    <h:inputText id="amount" value="#{ordersEntityController.selected.amount}" title="#{bundle.CreateOrdersEntityTitle_amount}" required="true" requiredMessage="#{bundle.CreateOrdersEntityRequiredMessage_amount}"/>
                    <h:outputLabel value="#{bundle.CreateOrdersEntityLabel_orderDate}" for="orderDate" />
                    <h:inputText id="orderDate" value="#{ordersEntityController.selected.orderDate}" title="#{bundle.CreateOrdersEntityTitle_orderDate}" required="true" requiredMessage="#{bundle.CreateOrdersEntityRequiredMessage_orderDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateOrdersEntityLabel_orderShippingStatus}" for="orderShippingStatus" />
                    <h:inputText id="orderShippingStatus" value="#{ordersEntityController.selected.orderShippingStatus}" title="#{bundle.CreateOrdersEntityTitle_orderShippingStatus}" />
                    <h:outputLabel value="#{bundle.CreateOrdersEntityLabel_paymentType}" for="paymentType" />
                    <h:inputText id="paymentType" value="#{ordersEntityController.selected.paymentType}" title="#{bundle.CreateOrdersEntityTitle_paymentType}" required="true" requiredMessage="#{bundle.CreateOrdersEntityRequiredMessage_paymentType}"/>
                    <h:outputLabel value="#{bundle.CreateOrdersEntityLabel_currencyCode}" for="currencyCode" />
                    <h:inputText id="currencyCode" value="#{ordersEntityController.selected.currencyCode}" title="#{bundle.CreateOrdersEntityTitle_currencyCode}" required="true" requiredMessage="#{bundle.CreateOrdersEntityRequiredMessage_currencyCode}"/>
                    <h:outputLabel value="#{bundle.CreateOrdersEntityLabel_shippingStreet}" for="shippingStreet" />
                    <h:inputText id="shippingStreet" value="#{ordersEntityController.selected.shippingStreet}" title="#{bundle.CreateOrdersEntityTitle_shippingStreet}" required="true" requiredMessage="#{bundle.CreateOrdersEntityRequiredMessage_shippingStreet}"/>
                    <h:outputLabel value="#{bundle.CreateOrdersEntityLabel_shippingDistrict}" for="shippingDistrict" />
                    <h:inputText id="shippingDistrict" value="#{ordersEntityController.selected.shippingDistrict}" title="#{bundle.CreateOrdersEntityTitle_shippingDistrict}" required="true" requiredMessage="#{bundle.CreateOrdersEntityRequiredMessage_shippingDistrict}"/>
                    <h:outputLabel value="#{bundle.CreateOrdersEntityLabel_shippingProvince}" for="shippingProvince" />
                    <h:inputText id="shippingProvince" value="#{ordersEntityController.selected.shippingProvince}" title="#{bundle.CreateOrdersEntityTitle_shippingProvince}" required="true" requiredMessage="#{bundle.CreateOrdersEntityRequiredMessage_shippingProvince}"/>
                    <h:outputLabel value="#{bundle.CreateOrdersEntityLabel_shippingCountry}" for="shippingCountry" />
                    <h:inputText id="shippingCountry" value="#{ordersEntityController.selected.shippingCountry}" title="#{bundle.CreateOrdersEntityTitle_shippingCountry}" required="true" requiredMessage="#{bundle.CreateOrdersEntityRequiredMessage_shippingCountry}"/>
                    <h:outputLabel value="#{bundle.CreateOrdersEntityLabel_phoneNumber}" for="phoneNumber" />
                    <h:inputText id="phoneNumber" value="#{ordersEntityController.selected.phoneNumber}" title="#{bundle.CreateOrdersEntityTitle_phoneNumber}" required="true" requiredMessage="#{bundle.CreateOrdersEntityRequiredMessage_phoneNumber}"/>
                    <h:outputLabel value="#{bundle.CreateOrdersEntityLabel_customerId}" for="customerId" />
                    <h:selectOneMenu id="customerId" value="#{ordersEntityController.selected.customerId}" title="#{bundle.CreateOrdersEntityTitle_customerId}" required="true" requiredMessage="#{bundle.CreateOrdersEntityRequiredMessage_customerId}">
                        <f:selectItems value="#{customersEntityController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{ordersEntityController.create}" value="#{bundle.CreateOrdersEntitySaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{ordersEntityController.prepareList}" value="#{bundle.CreateOrdersEntityShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateOrdersEntityIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
