<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditOrdersEntityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditOrdersEntityLabel_orderId}" for="orderId" />
                    <h:inputText id="orderId" value="#{ordersEntityController.selected.orderId}" title="#{bundle.EditOrdersEntityTitle_orderId}" required="true" requiredMessage="#{bundle.EditOrdersEntityRequiredMessage_orderId}"/>
                    <h:outputLabel value="#{bundle.EditOrdersEntityLabel_amount}" for="amount" />
                    <h:inputText id="amount" value="#{ordersEntityController.selected.amount}" title="#{bundle.EditOrdersEntityTitle_amount}" required="true" requiredMessage="#{bundle.EditOrdersEntityRequiredMessage_amount}"/>
                    <h:outputLabel value="#{bundle.EditOrdersEntityLabel_orderDate}" for="orderDate" />
                    <h:inputText id="orderDate" value="#{ordersEntityController.selected.orderDate}" title="#{bundle.EditOrdersEntityTitle_orderDate}" required="true" requiredMessage="#{bundle.EditOrdersEntityRequiredMessage_orderDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditOrdersEntityLabel_orderShippingStatus}" for="orderShippingStatus" />
                    <h:inputText id="orderShippingStatus" value="#{ordersEntityController.selected.orderShippingStatus}" title="#{bundle.EditOrdersEntityTitle_orderShippingStatus}" />
                    <h:outputLabel value="#{bundle.EditOrdersEntityLabel_paymentType}" for="paymentType" />
                    <h:inputText id="paymentType" value="#{ordersEntityController.selected.paymentType}" title="#{bundle.EditOrdersEntityTitle_paymentType}" required="true" requiredMessage="#{bundle.EditOrdersEntityRequiredMessage_paymentType}"/>
                    <h:outputLabel value="#{bundle.EditOrdersEntityLabel_currencyCode}" for="currencyCode" />
                    <h:inputText id="currencyCode" value="#{ordersEntityController.selected.currencyCode}" title="#{bundle.EditOrdersEntityTitle_currencyCode}" required="true" requiredMessage="#{bundle.EditOrdersEntityRequiredMessage_currencyCode}"/>
                    <h:outputLabel value="#{bundle.EditOrdersEntityLabel_shippingStreet}" for="shippingStreet" />
                    <h:inputText id="shippingStreet" value="#{ordersEntityController.selected.shippingStreet}" title="#{bundle.EditOrdersEntityTitle_shippingStreet}" required="true" requiredMessage="#{bundle.EditOrdersEntityRequiredMessage_shippingStreet}"/>
                    <h:outputLabel value="#{bundle.EditOrdersEntityLabel_shippingDistrict}" for="shippingDistrict" />
                    <h:inputText id="shippingDistrict" value="#{ordersEntityController.selected.shippingDistrict}" title="#{bundle.EditOrdersEntityTitle_shippingDistrict}" required="true" requiredMessage="#{bundle.EditOrdersEntityRequiredMessage_shippingDistrict}"/>
                    <h:outputLabel value="#{bundle.EditOrdersEntityLabel_shippingProvince}" for="shippingProvince" />
                    <h:inputText id="shippingProvince" value="#{ordersEntityController.selected.shippingProvince}" title="#{bundle.EditOrdersEntityTitle_shippingProvince}" required="true" requiredMessage="#{bundle.EditOrdersEntityRequiredMessage_shippingProvince}"/>
                    <h:outputLabel value="#{bundle.EditOrdersEntityLabel_shippingCountry}" for="shippingCountry" />
                    <h:inputText id="shippingCountry" value="#{ordersEntityController.selected.shippingCountry}" title="#{bundle.EditOrdersEntityTitle_shippingCountry}" required="true" requiredMessage="#{bundle.EditOrdersEntityRequiredMessage_shippingCountry}"/>
                    <h:outputLabel value="#{bundle.EditOrdersEntityLabel_phoneNumber}" for="phoneNumber" />
                    <h:inputText id="phoneNumber" value="#{ordersEntityController.selected.phoneNumber}" title="#{bundle.EditOrdersEntityTitle_phoneNumber}" required="true" requiredMessage="#{bundle.EditOrdersEntityRequiredMessage_phoneNumber}"/>
                    <h:outputLabel value="#{bundle.EditOrdersEntityLabel_customerId}" for="customerId" />
                    <h:selectOneMenu id="customerId" value="#{ordersEntityController.selected.customerId}" title="#{bundle.EditOrdersEntityTitle_customerId}" required="true" requiredMessage="#{bundle.EditOrdersEntityRequiredMessage_customerId}">
                        <f:selectItems value="#{customersEntityController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{ordersEntityController.update}" value="#{bundle.EditOrdersEntitySaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditOrdersEntityViewLink}"/>
                <br />
                <h:commandLink action="#{ordersEntityController.prepareList}" value="#{bundle.EditOrdersEntityShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditOrdersEntityIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
