<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewOrdersEntityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewOrdersEntityLabel_orderId}"/>
                    <h:outputText value="#{ordersEntityController.selected.orderId}" title="#{bundle.ViewOrdersEntityTitle_orderId}"/>
                    <h:outputText value="#{bundle.ViewOrdersEntityLabel_amount}"/>
                    <h:outputText value="#{ordersEntityController.selected.amount}" title="#{bundle.ViewOrdersEntityTitle_amount}"/>
                    <h:outputText value="#{bundle.ViewOrdersEntityLabel_orderDate}"/>
                    <h:outputText value="#{ordersEntityController.selected.orderDate}" title="#{bundle.ViewOrdersEntityTitle_orderDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewOrdersEntityLabel_orderShippingStatus}"/>
                    <h:outputText value="#{ordersEntityController.selected.orderShippingStatus}" title="#{bundle.ViewOrdersEntityTitle_orderShippingStatus}"/>
                    <h:outputText value="#{bundle.ViewOrdersEntityLabel_paymentType}"/>
                    <h:outputText value="#{ordersEntityController.selected.paymentType}" title="#{bundle.ViewOrdersEntityTitle_paymentType}"/>
                    <h:outputText value="#{bundle.ViewOrdersEntityLabel_currencyCode}"/>
                    <h:outputText value="#{ordersEntityController.selected.currencyCode}" title="#{bundle.ViewOrdersEntityTitle_currencyCode}"/>
                    <h:outputText value="#{bundle.ViewOrdersEntityLabel_shippingStreet}"/>
                    <h:outputText value="#{ordersEntityController.selected.shippingStreet}" title="#{bundle.ViewOrdersEntityTitle_shippingStreet}"/>
                    <h:outputText value="#{bundle.ViewOrdersEntityLabel_shippingDistrict}"/>
                    <h:outputText value="#{ordersEntityController.selected.shippingDistrict}" title="#{bundle.ViewOrdersEntityTitle_shippingDistrict}"/>
                    <h:outputText value="#{bundle.ViewOrdersEntityLabel_shippingProvince}"/>
                    <h:outputText value="#{ordersEntityController.selected.shippingProvince}" title="#{bundle.ViewOrdersEntityTitle_shippingProvince}"/>
                    <h:outputText value="#{bundle.ViewOrdersEntityLabel_shippingCountry}"/>
                    <h:outputText value="#{ordersEntityController.selected.shippingCountry}" title="#{bundle.ViewOrdersEntityTitle_shippingCountry}"/>
                    <h:outputText value="#{bundle.ViewOrdersEntityLabel_phoneNumber}"/>
                    <h:outputText value="#{ordersEntityController.selected.phoneNumber}" title="#{bundle.ViewOrdersEntityTitle_phoneNumber}"/>
                    <h:outputText value="#{bundle.ViewOrdersEntityLabel_customerId}"/>
                    <h:outputText value="#{ordersEntityController.selected.customerId}" title="#{bundle.ViewOrdersEntityTitle_customerId}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{ordersEntityController.destroyAndView}" value="#{bundle.ViewOrdersEntityDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewOrdersEntityEditLink}"/>
                <br />
                <h:commandLink action="#{ordersEntityController.prepareCreate}" value="#{bundle.ViewOrdersEntityCreateLink}" />
                <br />
                <h:commandLink action="#{ordersEntityController.prepareList}" value="#{bundle.ViewOrdersEntityShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewOrdersEntityIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
