<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreatePicturesEntityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreatePicturesEntityLabel_pictureId}" for="pictureId" />
                    <h:inputText id="pictureId" value="#{picturesEntityController.selected.pictureId}" title="#{bundle.CreatePicturesEntityTitle_pictureId}" required="true" requiredMessage="#{bundle.CreatePicturesEntityRequiredMessage_pictureId}"/>
                    <h:outputLabel value="#{bundle.CreatePicturesEntityLabel_description}" for="description" />
                    <h:inputText id="description" value="#{picturesEntityController.selected.description}" title="#{bundle.CreatePicturesEntityTitle_description}" required="true" requiredMessage="#{bundle.CreatePicturesEntityRequiredMessage_description}"/>
                    <h:outputLabel value="#{bundle.CreatePicturesEntityLabel_picture1}" for="picture1" />
                    <h:inputText id="picture1" value="#{picturesEntityController.selected.picture1}" title="#{bundle.CreatePicturesEntityTitle_picture1}" />
                    <h:outputLabel value="#{bundle.CreatePicturesEntityLabel_picture2}" for="picture2" />
                    <h:inputText id="picture2" value="#{picturesEntityController.selected.picture2}" title="#{bundle.CreatePicturesEntityTitle_picture2}" />
                    <h:outputLabel value="#{bundle.CreatePicturesEntityLabel_picture3}" for="picture3" />
                    <h:inputText id="picture3" value="#{picturesEntityController.selected.picture3}" title="#{bundle.CreatePicturesEntityTitle_picture3}" />
                    <h:outputLabel value="#{bundle.CreatePicturesEntityLabel_picture4}" for="picture4" />
                    <h:inputText id="picture4" value="#{picturesEntityController.selected.picture4}" title="#{bundle.CreatePicturesEntityTitle_picture4}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{picturesEntityController.create}" value="#{bundle.CreatePicturesEntitySaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{picturesEntityController.prepareList}" value="#{bundle.CreatePicturesEntityShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreatePicturesEntityIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
