<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewPicturesEntityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewPicturesEntityLabel_pictureId}"/>
                    <h:outputText value="#{picturesEntityController.selected.pictureId}" title="#{bundle.ViewPicturesEntityTitle_pictureId}"/>
                    <h:outputText value="#{bundle.ViewPicturesEntityLabel_description}"/>
                    <h:outputText value="#{picturesEntityController.selected.description}" title="#{bundle.ViewPicturesEntityTitle_description}"/>
                    <h:outputText value="#{bundle.ViewPicturesEntityLabel_picture1}"/>
                    <h:outputText value="#{picturesEntityController.selected.picture1}" title="#{bundle.ViewPicturesEntityTitle_picture1}"/>
                    <h:outputText value="#{bundle.ViewPicturesEntityLabel_picture2}"/>
                    <h:outputText value="#{picturesEntityController.selected.picture2}" title="#{bundle.ViewPicturesEntityTitle_picture2}"/>
                    <h:outputText value="#{bundle.ViewPicturesEntityLabel_picture3}"/>
                    <h:outputText value="#{picturesEntityController.selected.picture3}" title="#{bundle.ViewPicturesEntityTitle_picture3}"/>
                    <h:outputText value="#{bundle.ViewPicturesEntityLabel_picture4}"/>
                    <h:outputText value="#{picturesEntityController.selected.picture4}" title="#{bundle.ViewPicturesEntityTitle_picture4}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{picturesEntityController.destroyAndView}" value="#{bundle.ViewPicturesEntityDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewPicturesEntityEditLink}"/>
                <br />
                <h:commandLink action="#{picturesEntityController.prepareCreate}" value="#{bundle.ViewPicturesEntityCreateLink}" />
                <br />
                <h:commandLink action="#{picturesEntityController.prepareList}" value="#{bundle.ViewPicturesEntityShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewPicturesEntityIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
