<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateDistrictsEntityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateDistrictsEntityLabel_districtId}" for="districtId" />
                    <h:inputText id="districtId" value="#{districtsEntityController.selected.districtId}" title="#{bundle.CreateDistrictsEntityTitle_districtId}" required="true" requiredMessage="#{bundle.CreateDistrictsEntityRequiredMessage_districtId}"/>
                    <h:outputLabel value="#{bundle.CreateDistrictsEntityLabel_districtName}" for="districtName" />
                    <h:inputText id="districtName" value="#{districtsEntityController.selected.districtName}" title="#{bundle.CreateDistrictsEntityTitle_districtName}" required="true" requiredMessage="#{bundle.CreateDistrictsEntityRequiredMessage_districtName}"/>
                    <h:outputLabel value="#{bundle.CreateDistrictsEntityLabel_provinceId}" for="provinceId" />
                    <h:selectOneMenu id="provinceId" value="#{districtsEntityController.selected.provinceId}" title="#{bundle.CreateDistrictsEntityTitle_provinceId}" required="true" requiredMessage="#{bundle.CreateDistrictsEntityRequiredMessage_provinceId}">
                        <f:selectItems value="#{provincesEntityController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{districtsEntityController.create}" value="#{bundle.CreateDistrictsEntitySaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{districtsEntityController.prepareList}" value="#{bundle.CreateDistrictsEntityShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateDistrictsEntityIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
