<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListDistrictsEntityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListDistrictsEntityEmpty}" rendered="#{districtsEntityController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{districtsEntityController.items.rowCount > 0}">
                    <h:outputText value="#{districtsEntityController.pagination.pageFirstItem + 1}..#{districtsEntityController.pagination.pageLastItem + 1}/#{districtsEntityController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{districtsEntityController.previous}" value="#{bundle.Previous} #{districtsEntityController.pagination.pageSize}" rendered="#{districtsEntityController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{districtsEntityController.next}" value="#{bundle.Next} #{districtsEntityController.pagination.pageSize}" rendered="#{districtsEntityController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{districtsEntityController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDistrictsEntityTitle_districtId}"/>
                            </f:facet>
                            <h:outputText value="#{item.districtId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDistrictsEntityTitle_districtName}"/>
                            </f:facet>
                            <h:outputText value="#{item.districtName}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDistrictsEntityTitle_provinceId}"/>
                            </f:facet>
                            <h:outputText value="#{item.provinceId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{districtsEntityController.prepareView}" value="#{bundle.ListDistrictsEntityViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{districtsEntityController.prepareEdit}" value="#{bundle.ListDistrictsEntityEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{districtsEntityController.destroy}" value="#{bundle.ListDistrictsEntityDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{districtsEntityController.prepareCreate}" value="#{bundle.ListDistrictsEntityCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListDistrictsEntityIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
