<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewDistrictsEntityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewDistrictsEntityLabel_districtId}"/>
                    <h:outputText value="#{districtsEntityController.selected.districtId}" title="#{bundle.ViewDistrictsEntityTitle_districtId}"/>
                    <h:outputText value="#{bundle.ViewDistrictsEntityLabel_districtName}"/>
                    <h:outputText value="#{districtsEntityController.selected.districtName}" title="#{bundle.ViewDistrictsEntityTitle_districtName}"/>
                    <h:outputText value="#{bundle.ViewDistrictsEntityLabel_provinceId}"/>
                    <h:outputText value="#{districtsEntityController.selected.provinceId}" title="#{bundle.ViewDistrictsEntityTitle_provinceId}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{districtsEntityController.destroyAndView}" value="#{bundle.ViewDistrictsEntityDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewDistrictsEntityEditLink}"/>
                <br />
                <h:commandLink action="#{districtsEntityController.prepareCreate}" value="#{bundle.ViewDistrictsEntityCreateLink}" />
                <br />
                <h:commandLink action="#{districtsEntityController.prepareList}" value="#{bundle.ViewDistrictsEntityShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewDistrictsEntityIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
