<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateCustomersEntityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateCustomersEntityLabel_customerId}" for="customerId" />
                    <h:inputText id="customerId" value="#{customersEntityController.selected.customerId}" title="#{bundle.CreateCustomersEntityTitle_customerId}" required="true" requiredMessage="#{bundle.CreateCustomersEntityRequiredMessage_customerId}"/>
                    <h:outputLabel value="#{bundle.CreateCustomersEntityLabel_firstName}" for="firstName" />
                    <h:inputText id="firstName" value="#{customersEntityController.selected.firstName}" title="#{bundle.CreateCustomersEntityTitle_firstName}" required="true" requiredMessage="#{bundle.CreateCustomersEntityRequiredMessage_firstName}"/>
                    <h:outputLabel value="#{bundle.CreateCustomersEntityLabel_lastName}" for="lastName" />
                    <h:inputText id="lastName" value="#{customersEntityController.selected.lastName}" title="#{bundle.CreateCustomersEntityTitle_lastName}" required="true" requiredMessage="#{bundle.CreateCustomersEntityRequiredMessage_lastName}"/>
                    <h:outputLabel value="#{bundle.CreateCustomersEntityLabel_gender}" for="gender" />
                    <h:inputText id="gender" value="#{customersEntityController.selected.gender}" title="#{bundle.CreateCustomersEntityTitle_gender}" />
                    <h:outputLabel value="#{bundle.CreateCustomersEntityLabel_dateOfBirth}" for="dateOfBirth" />
                    <h:inputText id="dateOfBirth" value="#{customersEntityController.selected.dateOfBirth}" title="#{bundle.CreateCustomersEntityTitle_dateOfBirth}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateCustomersEntityLabel_email}" for="email" />
                    <h:inputText id="email" value="#{customersEntityController.selected.email}" title="#{bundle.CreateCustomersEntityTitle_email}" required="true" requiredMessage="#{bundle.CreateCustomersEntityRequiredMessage_email}"/>
                    <h:outputLabel value="#{bundle.CreateCustomersEntityLabel_password}" for="password" />
                    <h:inputText id="password" value="#{customersEntityController.selected.password}" title="#{bundle.CreateCustomersEntityTitle_password}" required="true" requiredMessage="#{bundle.CreateCustomersEntityRequiredMessage_password}"/>
                    <h:outputLabel value="#{bundle.CreateCustomersEntityLabel_status}" for="status" />
                    <h:inputText id="status" value="#{customersEntityController.selected.status}" title="#{bundle.CreateCustomersEntityTitle_status}" />
                    <h:outputLabel value="#{bundle.CreateCustomersEntityLabel_phoneNumber}" for="phoneNumber" />
                    <h:inputText id="phoneNumber" value="#{customersEntityController.selected.phoneNumber}" title="#{bundle.CreateCustomersEntityTitle_phoneNumber}" />
                    <h:outputLabel value="#{bundle.CreateCustomersEntityLabel_registryDate}" for="registryDate" />
                    <h:inputText id="registryDate" value="#{customersEntityController.selected.registryDate}" title="#{bundle.CreateCustomersEntityTitle_registryDate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateCustomersEntityLabel_adressId}" for="adressId" />
                    <h:selectOneMenu id="adressId" value="#{customersEntityController.selected.adressId}" title="#{bundle.CreateCustomersEntityTitle_adressId}" required="true" requiredMessage="#{bundle.CreateCustomersEntityRequiredMessage_adressId}">
                        <f:selectItems value="#{addressEntityController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{customersEntityController.create}" value="#{bundle.CreateCustomersEntitySaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{customersEntityController.prepareList}" value="#{bundle.CreateCustomersEntityShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateCustomersEntityIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
