<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
                template="./../../template/_layoutadminstrator.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <div class="form-product">
            <h:panelGrid columns="2">
                <h:form enctype="multipart/form-data">
                    <h:inputFile id="file" value="#{productsEntityController.p}"/>
                    <h:commandButton id="upload" action="#{productsEntityController.processUpload()}" value="Tai Anh Dai Dien Cho San Pham">
                        <f:ajax execute="file" render=":form:representPicture"/>
                    </h:commandButton>
                </h:form>
            </h:panelGrid>
            <h:form id="form">
                <table>
                    <tr>
                        <td><h:outputLabel value="#{bundle.ViewProductsEntityLabel_name}" for="productname"/><h:inputText value="#{productsEntityController.selected.name}" a:placeholder="Products name" id="productname" required="true" requiredMessage="#{bundle.CreateProductsEntityRequiredMessage_name}"/><span>*<h:message for="productname"/></span></td>
                        <td><h:outputLabel value="#{bundle.ViewProductsEntityLabel_saleUnit}" for="saleunit"/><h:inputText value="#{productsEntityController.selected.saleUnit}" a:placeholder="Sale Unit" id="saleunit"/></td>
                    </tr>
                    <tr>
                        <td><h:outputLabel value="#{bundle.CreateProductsEntityLabel_price}" for="price" /><h:inputText value="#{productsEntityController.selected.price}" a:placeholder="Prices" id="price" required="true" requiredMessage="#{bundle.CreateProductsEntityRequiredMessage_price}"/><span>*<h:message for="price"/></span></td>
                        <td><h:outputLabel value="#{bundle.CreateProductsEntityLabel_quantity}" for="quantity" /><h:inputText value="#{productsEntityController.selected.quantity}" a:placeholder="Quantity" id="quantity" required="true" requiredMessage="#{bundle.CreateProductsEntityRequiredMessage_quantity}"/><span>*<h:message for="quantity"/></span></td>
                    </tr>
                    <tr>
                        <td><h:outputLabel value="#{bundle.CreateProductsEntityLabel_dateOfProduction}" for="dateOfProduction" />
                            <h:inputText value="#{productsEntityController.selected.dateOfProduction}" id="dateOfProduction"  styleClass="datepicker">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:inputText>
                        </td>
                        <td><h:outputLabel value="#{bundle.CreateProductsEntityLabel_warrantyPeriod}" for="warrantyPeriod" /><h:inputText value="#{productsEntityController.selected.warrantyPeriod}" a:placeholder="Warranty Period" id="warrantyPeriod"/></td>
                    </tr>
                    <tr>
                        <td><h:outputLabel value="#{bundle.CreateProductsEntityLabel_screenSize}" for="screenSize" />
                            <h:inputText value="#{productsEntityController.selected.screenSize}" a:placeholder="Screen size" id="screenSize"/></td>
                        <td><h:outputLabel value="#{bundle.CreateProductsEntityLabel_weight}" for="weight" />
                            <h:inputText value="#{productsEntityController.selected.weight}" a:placeholder="Weight" id="weight"/></td>
                    </tr>
                    <tr>
                        <td><h:outputLabel value="#{bundle.CreateProductsEntityLabel_description}" for="description" />
                            <h:inputTextarea value="#{productsEntityController.selected.description}" cols='47' rows='5' a:placeholder="Description" id="description"></h:inputTextarea></td>
                        <td><h:outputLabel value="#{bundle.CreateProductsEntityLabel_representPicture}" for="representPicture" />
                            <h:inputText id="representPicture" a:placeholder="Represent Product" value="#{productsEntityController.selected.representPicture}"/>
                        </td>
                    </tr>
                    <tr>
                        <td><h:outputLabel value="#{bundle.CreateProductsEntityLabel_categoryId}" for="categoryId" />
                            <h:selectOneMenu id="categoryId" value="#{productsEntityController.selected.categoryId}">
                                <f:selectItems value="#{productsEntityController.returnListcate}"/>
                            </h:selectOneMenu>
                        </td>
                        <td><h:outputLabel value="#{bundle.CreateProductsEntityLabel_pictureId}" for="pictureId" />
                            <h:selectOneMenu id="pictureId" value="#{productsEntityController.selected.pictureId}">
                                <f:selectItems value="#{productsEntityController.returnListPic}" />
                            </h:selectOneMenu>
                        </td>
                    </tr>
                    <tr>
                        <td><h:messages class="messagesucsess"/></td>
                    </tr>
                </table>
                <div class="action">
                    <h:commandButton action="#{productsEntityController.create()}" value="Add New Product"/>
                    <h:commandButton action="#{dddd}" value="Reset"/>
                </div>
            </h:form>
        </div>
    </ui:define>
</ui:composition>