<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./../../template/_layoutadminstrator.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <div class="main">
            <div class="content">
                <h:form>
                    <div class="content-top">
                        <div id="p-left">
                            <label>Danh sach san pham</label>
                        </div>
                        <div id="p-right">
                            <h:commandButton action="#{productsEntityController.prepareCreate()}" value="Them Moi"/>
                        </div>
                    </div>
                    <div class="content-bottom">
                        <div class="search">
                            <div class="search-input">
                                <h:selectOneMenu value="#{productsEntityController.selected.categoryId}" id="selectCategory">
                                    <f:selectItems value="#{productsEntityController.returnListcate}"/>
                                </h:selectOneMenu>
                                <h:inputText id="productname" a:placeholder="Nhap ten san pham" value="#{productsEntityController.productName}" />
                                <h:commandButton id="submit" action="#{productsEntityController.searchResult()}" value="Tim Kiem"/>
                            </div>
                            <div class="messages">
                                <h:messages class="messagesucsess"/>
                            </div>
                        </div>
                        <div class="viewproduct">
                            <h:panelGroup rendered="#{productsEntityController.items.rowCount > 0}">
                                <div class="pagenumber">
                                    <h:outputText value="#{productsEntityController.pagination.pageFirstItem + 1}..#{productsEntityController.pagination.pageLastItem + 1}/#{productsEntityController.pagination.itemsCount}"/>&nbsp;
                                    <h:commandLink action="#{productsEntityController.previous}" value="#{bundle.Previous} #{productsEntityController.pagination.pageSize}" rendered="#{productsEntityController.pagination.hasPreviousPage}"/>&nbsp;
                                    <h:commandLink action="#{productsEntityController.next}" value="#{bundle.Next} #{productsEntityController.pagination.pageSize}" rendered="#{productsEntityController.pagination.hasNextPage}"/>&nbsp;
                                </div>
                                <h:dataTable value="#{productsEntityController.items}" var="item" id="table">
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListProductsEntityTitle_productId}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.productId}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListProductsEntityTitle_name}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.name}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListProductsEntityTitle_description}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.description}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListProductsEntityTitle_representPicture}"/>
                                        </f:facet>
                                        <h:graphicImage style="width: 50px; height: 50px;" library="images/uploads" name="#{item.representPicture}"/>
                                        <!--<h:outputText value="#{item.representPicture}"/>-->
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListProductsEntityTitle_saleUnit}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.saleUnit}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListProductsEntityTitle_price}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.price}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListProductsEntityTitle_quantity}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.quantity}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListProductsEntityTitle_view}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.viewClick}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListProductsEntityTitle_dateOfProduction}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.dateOfProduction}">
                                            <f:convertDateTime pattern="MM/dd/yyyy" />
                                        </h:outputText>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListProductsEntityTitle_warrantyPeriod}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.warrantyPeriod}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListProductsEntityTitle_screenSize}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.screenSize}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListProductsEntityTitle_weight}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.weight}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListProductsEntityTitle_categoryId}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.categoryId.name}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListProductsEntityTitle_pictureId}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.pictureId.description}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="&nbsp;"/>
                                        </f:facet>
                                        <h:commandLink action="#{productsEntityController.prepareEdit}">
                                            <h:graphicImage library="images" name="icon-edit.jpg"/>
                                        </h:commandLink>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="&nbsp;"/>
                                        </f:facet>
                                        <h:commandLink action="#{productsEntityController.destroy}">
                                            <h:graphicImage library="images" name="icon-delete.jpg"/>
                                        </h:commandLink>
                                    </h:column>
                                </h:dataTable>
                            </h:panelGroup>
                        </div>
                    </div>
                </h:form>
            </div>
        </div>
    </ui:define>

</ui:composition>