<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <div class="form-product">
        <table>
            <tr>
                <td>
                    <h:outputLabel value="#{bundle.CreateCustomersEntityLabel_firstName}" for="firstName" />
                </td>
                <td><h:inputText a:placeholder="First Name" value="#{customersEntityController.selected.firstName}" id="firstName" required="true" requiredMessage="#{bundle.CreateCustomersEntityRequiredMessage_firstName}"/></td>
                <td><span>*<h:message for="firstName"/></span></td>
            </tr>
            <tr>
                <td><h:outputLabel value="#{bundle.CreateCustomersEntityLabel_lastName}" for="lastName" /></td>
                <td><h:inputText a:placeholder="Last Name" value="#{customersEntityController.selected.lastName}" id="lastName" required="true" requiredMessage="#{bundle.CreateCustomersEntityRequiredMessage_lastName}"/></td>
                <td><span>*<h:message for="lastName"/></span></td>
            </tr>
            <tr>
                <td><h:outputLabel value="#{bundle.CreateCustomersEntityLabel_gender}" for="gender" /></td>
                <td>
                    <h:selectOneMenu id="gender" value="#{customersEntityController.selected.gender}">
                        <f:selectItem itemValue="Nam" itemLabel="Nam"/>
                        <f:selectItem itemValue="Nu" itemLabel="Nu"/>
                        <f:selectItem itemValue="Khac" itemLabel="Khac"/>
                    </h:selectOneMenu>
                </td>
            </tr>
            <tr>
                <td><h:outputLabel value="#{bundle.CreateCustomersEntityLabel_dateOfBirth}" for="dateOfBirth" /></td>
                <td>
                    <h:inputText a:placeholder="Date Of Birth" value="#{customersEntityController.selected.dateOfBirth}" id="dateOfBirth" class="datepicker">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <h:outputLabel value="#{bundle.CreateCustomersEntityLabel_email}" for="email" />
                </td>
                <td>
                    <h:inputText a:placeholder="Email" value="#{customersEntityController.selected.email}" id="email" required="true" requiredMessage="#{bundle.CreateCustomersEntityRequiredMessage_email}"/>
                </td>
                <td>
                    <span>*<h:message for="email"/></span></td>
            </tr>
            <tr>
                <td>
                    <h:outputLabel value="#{bundle.CreateCustomersEntityLabel_status}" for="status" />
                </td>
                <td><h:selectOneMenu value="#{customersEntityController.selected.status}">
                        <f:selectItem itemValue='1' itemLabel="On"/>
                        <f:selectItem itemValue='0' itemLabel="Off"/>
                    </h:selectOneMenu>
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><h:outputLabel value="#{bundle.CreateCustomersEntityLabel_phoneNumber}" for="phoneNumber" /></td>
                <td><h:inputText value="#{customersEntityController.selected.phoneNumber}" a:placeholder="Phone Number" id="phoneNumber"/></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><h:outputLabel value="#{bundle.CreateCustomersEntityLabel_registryDate}" for="registryDate" /></td>
                <td>
                    <h:inputText a:placeholder="Registry" value="#{customersEntityController.selected.registryDate}" id="registryDate" class="datepicker">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <h:outputLabel value="#{bundle.CreateCustomersEntityLabel_adressId}" for="adress"/></td>
                <td>
                    <h:inputText id="address" value="#{customersEntityController.selected.address}" required="true" requiredMessage="#{bundle.CreateCustomersEntityRequiredMessage_adress}"/></td>
                <td>
                    <span><h:message for="address"/></span>
                </td>
            </tr>
            <tr>
                <td>
                    <h:outputLabel value="#{bundle.CreateCustomersEntityLabel_password}" for="password"/></td>
                <td>
                    <h:inputSecret id="password" a:placeholder="Password" value="#{customersEntityController.password}" required="true" requiredMessage="#{bundle.CreateCustomersEntityRequiredMessage_password}"/></td>
                <td>
                    <span>*<h:message for="password"/></span>
                </td>
            </tr>
            <tr>
                <td>
                    <h:outputLabel value="#{bundle.CreateCustomersEntityLabel_provinceId}" for="provinceId"/></td>
                <td>
                    <h:selectOneMenu style="width: 100px; " id="provinceId" value="#{customersEntityController.selected.provinceId}" required="true" requiredMessage="#{bundle.CreateCustomersEntityRequiredMessage_province}">
                        <f:selectItems value="#{customersEntityController.returnProvince}"/>
                        <f:ajax event="change" listener="#{customersEntityController.loadDistrictBasedProvince}" render="districtId"/>
                    </h:selectOneMenu>
                </td>
                <td>
                    <span><h:message for="provinceId"/></span>
                </td>
            </tr>
            <tr>
                <td>
                    <h:outputLabel value="#{bundle.CreateCustomersEntityLabel_districtId}" for="districtId"/></td>
                <td>
                    <h:selectOneMenu style="width: 200px;" id="districtId" value="#{customersEntityController.selected.districtId}" required="true" requiredMessage="#{bundle.CreateCustomersEntityRequiredMessage_district}">
                        <f:selectItems value="#{customersEntityController.returnDistrict}"/>
                    </h:selectOneMenu>
                </td>
                <td>
                    <span><h:message for="districtId"/></span>
                </td>
            </tr>
        </table>
        <h:messages class="messagesucsess"/>
    </div>
</ui:composition>