<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./../../template/_layoutadminstrator.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <div class="main">
            <div class="content">
                <h:form>
                    <div class="content-top">
                        <div id="p-left">
                            <label>Danh Sach Khach Hang</label>
                        </div>
                        <div id="p-right">
                            <h:commandButton id="addnewcategory" action="#{customersEntityController.prepareCreate()}" value="Them Moi"/>
                        </div>
                    </div>
                    <div class="content-bottom">
                        <div class="search">
                            <div class="search-input">
                                <h:form>
                                    <h:inputText value="#{customersEntityController.name}"  id="customername" />
                                    <h:commandButton action="#{customersEntityController.returnSearch()}" value="Search"/>
                                </h:form>
                            </div>
                            <div class="messages">
                                <h:messages class="messagesucsess"/>
                            </div>
                        </div>
                        <div class="viewproduct">
                            <h:outputText escape="false" value="#{bundle.ListCustomersEntityEmpty}" rendered="#{customersEntityController.items.rowCount == 0}"/>
                            <h:panelGroup rendered="#{customersEntityController.items.rowCount > 0}">
                                <div class="pagenumber">
                                    <h:outputText value="#{customersEntityController.pagination.pageFirstItem + 1}..#{customersEntityController.pagination.pageLastItem + 1}/#{customersEntityController.pagination.itemsCount}"/>&nbsp;
                                    <h:commandLink action="#{customersEntityController.previous}" value="#{bundle.Previous} #{customersEntityController.pagination.pageSize}" rendered="#{customersEntityController.pagination.hasPreviousPage}"/>&nbsp;
                                    <h:commandLink action="#{customersEntityController.next}" value="#{bundle.Next} #{customersEntityController.pagination.pageSize}" rendered="#{customersEntityController.pagination.hasNextPage}"/>&nbsp;
                                </div>
                                <h:dataTable value="#{customersEntityController.items}" var="item">
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListCustomersEntityTitle_customerId}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.customerId}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListCustomersEntityTitle_firstName}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.firstName}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListCustomersEntityTitle_lastName}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.lastName}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListCustomersEntityTitle_gender}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.gender}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListCustomersEntityTitle_dateOfBirth}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.dateOfBirth}">
                                            <f:convertDateTime pattern="MM/dd/yyyy" />
                                        </h:outputText>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListCustomersEntityTitle_email}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.email}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListCustomersEntityTitle_status}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.status}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListCustomersEntityTitle_phoneNumber}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.phoneNumber}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListCustomersEntityTitle_registryDate}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.registryDate}">
                                            <f:convertDateTime pattern="MM/dd/yyyy" />
                                        </h:outputText>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListCustomersEntityTitle_adressId}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.address}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListCustomersEntityTitle_provinceId}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.provinceId.provinceName}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListCustomersEntityTitle_districtId}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.districtId}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="&nbsp;"/>
                                        </f:facet>
                                        <h:commandLink action="#{customersEntityController.prepareEdit}">
                                            <h:graphicImage library="images" name="icon-edit.jpg"/>
                                        </h:commandLink>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="&nbsp;"/>
                                        </f:facet>
                                        <h:commandLink action="#{customersEntityController.destroy}">
                                            <h:graphicImage library="images" name="icon-delete.jpg"/>
                                        </h:commandLink>
                                    </h:column>
                                </h:dataTable>
                            </h:panelGroup>
                        </div>
                    </div>
                </h:form>
            </div>
        </div>
    </ui:define>
</ui:composition>