/* ######### Matt Black Strip Main Menu Bar CSS ######### */

.mattblackmenu ul{
margin: 0;
padding-top: 10px;
font: bold 12px Verdana;
list-style-type: none;
//border-bottom: 1px solid gray;
/*background: #414141;*/
overflow: hidden;
width: 100%;
}

.mattblackmenu li{
display: inline;
margin: 0;
}

.mattblackmenu li a{
float: left;
display: block;
text-decoration: none;
margin: 0;
padding: 6px 8px; /*padding inside each tab*/
border-right: 1px solid white; /*right divider between tabs*/
//color: #49a8e2;
/*background: #414141;*/
}

.mattblackmenu li a:visited{
//color: #4086a7;
}

.mattblackmenu li a:hover{
background: black; /*background of tabs for hover state */
color: white;
}

.mattblackmenu a.selected{
background: black; /*background of tab with "selected" class assigned to its LI */
}
