@charset "utf-8";
body{
	margin:0px 0px;
}
* a{
	text-decoration:none;
}
div.payment{
	width:980px;
	/*min-height:500px;*/
	margin:auto;
	/*background-color:#D7D7D7;*/
}
header{
	height:70px;
	/*background-color:#93F;*/
}
header img{
	padding:10px 0px;
	float:left;
	margin-right:200px;
}
header a{
	position:relative;
	top:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	padding-right:5px;
	text-decoration:none;
}
header a:hover{
	text-decoration:underline;
}
.step{
	height:50px;
	/*background:#8AC007;*/
	background:#3D3D3D;
	margin-top:20px;
}
.step ul{
	list-style:none;
	position:relative;
	top:6px;
	padding:10px 0px;
}
.step li{
	display:inline;
	/*margin-right:40px;*/
}
.step p{
	display:inline;
	margin-right:20px;
	padding:15px 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:white;
	text-transform:uppercase;
}
.step p:hover{
	background:#3CAD38;
}
.mainorder{
	min-height:380px;
	/*border:1px solid #CCC;*/
	/*border:1px solid;*/
}
.mainorder table{
    width: 100%;
}
.updatecart table,th,td{
	border:1px solid #9E9E9E;
	border-collapse:collapse;
}
.updatecart th{
	/*background:#A7C942;*/
	background:#9E9E9E;
}
.order-right table,tr,td{
	border:1px solid #98bf21;
	border-collapse:collapse;
}
.order-right th{
	background:#A7C942;
}
.order-left{
	float:left;
	width:450px;
	border:1px solid #98bf21;
}
.order-left table{
	width:100%;
}
.order-left table,tr,td{
	/*border:1px solid #98bf21;*/
	border:1px solid #9E9E9E;
	
	border-collapse:collapse;
}
.order-left p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
	margin:0px 0px;
	border-left:5px solid #F63;
}
.order-right p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
	margin:0px 0px;
	border-left:5px solid #F63;
}
.order-right{
	float:right;
}
.order-right #shipping{
	width:100%
}
#next{
	float:right;
}
#next input[type="submit"]{
    margin: 20px 25px;
    background:#F60;
    color:black;
}
span{
	color:red;
}