<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./template/homepage.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="top">
        <div class="index-banner">
            <div class="wmuSlider example1" style="height: 560px;">
                <div class="wmuSliderWrapper">
                    <article style="position: relative; width: 100%; opacity: 1;">
                        <div class="banner-wrap">
                            <div class="slider-left">
                                <h:graphicImage library="images" name="APPLE MACINTOSH(MAC)_E.jpg" alt="" />
                            </div>
                            <div class="slider-right">
                                <h1>Classic</h1>
                                <h2>White</h2>
                                <p>Shoe Sport</p>
                                <div class="btn">
                                    <a href="shop.html">Shop Now</a>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </article>
                    <article style="position: absolute; width: 100%; opacity: 0;">
                        <div class="banner-wrap">
                            <div class="slider-left">
                                <h:graphicImage library="images" name="ACER_E.jpg" alt="" />
                            </div>
                            <div class="slider-right">
                                <h1>Classic</h1>
                                <h2>White</h2>
                                <p>Shoe Sport</p>
                                <div class="btn">
                                    <a href="shop.html">Shop Now</a>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </article>
                    <article style="position: absolute; width: 100%; opacity: 0;">
                        <div class="banner-wrap">
                            <div class="slider-left">
                                <h:graphicImage library="images" name="ASUS_E.jpg" alt="" />
                            </div>
                            <div class="slider-right">
                                <h1>Classic</h1>
                                <h2>White</h2>
                                <p>Shoe Sport</p>
                                <div class="btn">
                                    <a href="shop.html">Shop Now</a>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </article>
                    <article style="position: absolute; width: 100%; opacity: 0;">
                        <div class="banner-wrap">
                            <div class="slider-left">
                                <h:graphicImage library="images" name="GATEWAY_E.jpg" alt="" />
                            </div>
                            <div class="slider-right">
                                <h1>Classic</h1>
                                <h2>White</h2>
                                <p>Shoe Sport</p>
                                <div class="btn">
                                    <a href="shop.html">Shop Now</a>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </article>
                    <article style="position: absolute; width: 100%; opacity: 0;">
                        <div class="banner-wrap">
                            <div class="slider-left">
                                <h:graphicImage library="images" name="TOSHIBA_E.jpg" alt="" />
                            </div>
                            <div class="slider-right">
                                <h1>Classic</h1>
                                <h2>White</h2>
                                <p>Shoe Sport</p>
                                <div class="btn">
                                    <a href="shop.html">Shop Now</a>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </article>
                </div>
                <a class="wmuSliderPrev">Previous</a><a class="wmuSliderNext">Next</a>
                <ul class="wmuSliderPagination">
                    <li><a href="#" class="">0</a></li>
                    <li><a href="#" class="">1</a></li>
                    <li><a href="#" class="wmuActive">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                </ul>
                <a class="wmuSliderPrev">Previous</a><a class="wmuSliderNext">Next</a>
                <ul class="wmuSliderPagination">
                    <li><a href="#" class="wmuActive">0</a></li>
                    <li><a href="#" class="">1</a></li>
                    <li><a href="#" class="">2</a></li>
                    <li><a href="#" class="">3</a></li>
                    <li><a href="#" class="">4</a></li>
                </ul>
            </div>
            <h:outputScript name="./js/jquery.wmuSlider.js"/>
            <script>
                $('.example1').wmuSlider();
            </script>
        </div>
    </ui:define>

    <ui:define name="content">
        <div class="main">
            <h:form>
                <aside id="fb">
                    <a href="#"><h:graphicImage library="images" name="fb.jpg"/></a>
                </aside>
                <aside id="mail">
                    <a href="#"><h:graphicImage library="images" name="mail.jpg"/></a>
                </aside>
                <aside id="tops">
                    <a href="#"><h:graphicImage library="images" name="top.jpg" /></a>
                </aside>
                <div style="width: 1165px; margin: 10px auto">
                    <hr style="width:1165px; border:2px solid;"/>
                    <div class="clear"></div>
                    <div id="search-card">
                        <div class="anphu"><h:graphicImage library="images" name="anphu.jpg" alt="An Phu Computer"/></div>
                        <div class="search">
                            <input type="text" placeholder="Nhap ten san pham can tim kiem"/>
                            <input type="submit" value="Search"/>
                        </div>
                        <div class="cart">
                            <h:commandLink action="#{processFrontEnd.checkCart()}"><h:graphicImage library="images" name="shopping-cart_icon.gif"/>
                                <p style="display:inline; position:absolute; margin-top:15px; margin-left:20px">Gio Hang (#{sessionScope.listBuy.size()})</p>
                            </h:commandLink>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <!-- Main -->
                <div class="wrap">
                    <div class="content-top">
                        <div class="cong">
                            <ul>
                                <li><h:commandLink action="#{processLoadPage.returnListProduct()}">San Pham Mua Nhieu Nhat</h:commandLink></li>
                                <li><a href="#">San Pham Xem Nhieu Nhat</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="wrap">
                    <div class="box-pro-home">
                        <c:forEach var="item" items="#{processLoadPage.listProduct}">
                            <div class="item-pro-home">
                                <div class="item-pro-home-img">
                                    <div class="view view-fifth">
                                        <div class="top_box">
                                            <div class="grid_img">
                                                <div class="css3">
                                                    <h:graphicImage style="width: 320px; height: 200px;" library="images/uploads" name="#{item.representPicture}"/>
                                                </div>
                                                <div class="mask">
                                                    <div class="info">
                                                        <h:commandLink id="view_product" value="Quick View" action="#{processFrontEnd.view()}">
                                                            <f:param name="productId" value="#{item.productId}"/>
                                                            <f:ajax execute="view_product" render="display"/>
                                                        </h:commandLink>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-name-price">
                                            <p>Name: #{item.name}</p>
                                            <p>Price: <h:outputText value="#{item.price}">
                                                    <f:convertNumber pattern="###,###"/>
                                                </h:outputText></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-view-buy">
                                    <div id="view">
                                        <h:graphicImage library="images" name="icon_view.png"/>
                                        <span id="display">#{item.viewClick}</span>
                                    </div>
                                    <div id="cart">
                                        <h:commandLink id="link" value="Add Cart" action="#{processFrontEnd.processBuyComputer(item.productId)}">
                                            <f:param name="number" value="1"/>
                                            <f:ajax execute="link" render="@form"/>
                                        </h:commandLink>
                                    </div>
                                </div>
                            </div>
                        </c:forEach>
                    </div>
                </div>
            </h:form>
        </div>
    </ui:define>
</ui:composition>