<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="./css/jquery-ui-1.8.23.custom.css"/>
        <h:outputScript name="./js/jquery-1.8.3.min.js"/>
        <h:outputScript name="./js/jquery-ui-1.8.23.custom.min.js"/>
        <script>
        $(document).ready(function() {
        	$(".datepicker").datepicker();
		});
       </script>
    </h:head>
    <h:body onload="#{processLoadPage.init()}">
        <c:forEach var="item" items="#{processLoadPage.listProduct}">
            <h:outputText value="#{item.name}"/>
            <h:outputText value=" "/>
        </c:forEach>
    </h:body>
</html>

