<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateAcountsEntityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateAcountsEntityLabel_acountId}" for="acountId" />
                    <h:inputText id="acountId" value="#{acountsEntityController.selected.acountId}" title="#{bundle.CreateAcountsEntityTitle_acountId}" required="true" requiredMessage="#{bundle.CreateAcountsEntityRequiredMessage_acountId}"/>
                    <h:outputLabel value="#{bundle.CreateAcountsEntityLabel_userName}" for="userName" />
                    <h:inputText id="userName" value="#{acountsEntityController.selected.userName}" title="#{bundle.CreateAcountsEntityTitle_userName}" required="true" requiredMessage="#{bundle.CreateAcountsEntityRequiredMessage_userName}"/>
                    <h:outputLabel value="#{bundle.CreateAcountsEntityLabel_password}" for="password" />
                    <h:inputText id="password" value="#{acountsEntityController.selected.password}" title="#{bundle.CreateAcountsEntityTitle_password}" required="true" requiredMessage="#{bundle.CreateAcountsEntityRequiredMessage_password}"/>
                    <h:outputLabel value="#{bundle.CreateAcountsEntityLabel_status}" for="status" />
                    <h:inputText id="status" value="#{acountsEntityController.selected.status}" title="#{bundle.CreateAcountsEntityTitle_status}" required="true" requiredMessage="#{bundle.CreateAcountsEntityRequiredMessage_status}"/>
                    <h:outputLabel value="#{bundle.CreateAcountsEntityLabel_employeeId}" for="employeeId" />
                    <h:selectOneMenu id="employeeId" value="#{acountsEntityController.selected.employeeId}" title="#{bundle.CreateAcountsEntityTitle_employeeId}" required="true" requiredMessage="#{bundle.CreateAcountsEntityRequiredMessage_employeeId}">
                        <f:selectItems value="#{employeesEntityController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateAcountsEntityLabel_roleId}" for="roleId" />
                    <h:selectOneMenu id="roleId" value="#{acountsEntityController.selected.roleId}" title="#{bundle.CreateAcountsEntityTitle_roleId}" required="true" requiredMessage="#{bundle.CreateAcountsEntityRequiredMessage_roleId}">
                        <f:selectItems value="#{rolesEntityController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{acountsEntityController.create}" value="#{bundle.CreateAcountsEntitySaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{acountsEntityController.prepareList}" value="#{bundle.CreateAcountsEntityShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateAcountsEntityIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
