<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListAcountsEntityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListAcountsEntityEmpty}" rendered="#{acountsEntityController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{acountsEntityController.items.rowCount > 0}">
                    <h:outputText value="#{acountsEntityController.pagination.pageFirstItem + 1}..#{acountsEntityController.pagination.pageLastItem + 1}/#{acountsEntityController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{acountsEntityController.previous}" value="#{bundle.Previous} #{acountsEntityController.pagination.pageSize}" rendered="#{acountsEntityController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{acountsEntityController.next}" value="#{bundle.Next} #{acountsEntityController.pagination.pageSize}" rendered="#{acountsEntityController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{acountsEntityController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAcountsEntityTitle_acountId}"/>
                            </f:facet>
                            <h:outputText value="#{item.acountId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAcountsEntityTitle_userName}"/>
                            </f:facet>
                            <h:outputText value="#{item.userName}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAcountsEntityTitle_password}"/>
                            </f:facet>
                            <h:outputText value="#{item.password}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAcountsEntityTitle_status}"/>
                            </f:facet>
                            <h:outputText value="#{item.status}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAcountsEntityTitle_employeeId}"/>
                            </f:facet>
                            <h:outputText value="#{item.employeeId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAcountsEntityTitle_roleId}"/>
                            </f:facet>
                            <h:outputText value="#{item.roleId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{acountsEntityController.prepareView}" value="#{bundle.ListAcountsEntityViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{acountsEntityController.prepareEdit}" value="#{bundle.ListAcountsEntityEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{acountsEntityController.destroy}" value="#{bundle.ListAcountsEntityDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{acountsEntityController.prepareCreate}" value="#{bundle.ListAcountsEntityCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListAcountsEntityIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
