<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewAcountsEntityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewAcountsEntityLabel_acountId}"/>
                    <h:outputText value="#{acountsEntityController.selected.acountId}" title="#{bundle.ViewAcountsEntityTitle_acountId}"/>
                    <h:outputText value="#{bundle.ViewAcountsEntityLabel_userName}"/>
                    <h:outputText value="#{acountsEntityController.selected.userName}" title="#{bundle.ViewAcountsEntityTitle_userName}"/>
                    <h:outputText value="#{bundle.ViewAcountsEntityLabel_password}"/>
                    <h:outputText value="#{acountsEntityController.selected.password}" title="#{bundle.ViewAcountsEntityTitle_password}"/>
                    <h:outputText value="#{bundle.ViewAcountsEntityLabel_status}"/>
                    <h:outputText value="#{acountsEntityController.selected.status}" title="#{bundle.ViewAcountsEntityTitle_status}"/>
                    <h:outputText value="#{bundle.ViewAcountsEntityLabel_employeeId}"/>
                    <h:outputText value="#{acountsEntityController.selected.employeeId}" title="#{bundle.ViewAcountsEntityTitle_employeeId}"/>
                    <h:outputText value="#{bundle.ViewAcountsEntityLabel_roleId}"/>
                    <h:outputText value="#{acountsEntityController.selected.roleId}" title="#{bundle.ViewAcountsEntityTitle_roleId}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{acountsEntityController.destroyAndView}" value="#{bundle.ViewAcountsEntityDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewAcountsEntityEditLink}"/>
                <br />
                <h:commandLink action="#{acountsEntityController.prepareCreate}" value="#{bundle.ViewAcountsEntityCreateLink}" />
                <br />
                <h:commandLink action="#{acountsEntityController.prepareList}" value="#{bundle.ViewAcountsEntityShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewAcountsEntityIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
