<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <div class="form-product">
        <table>
            <tr>
                <td>
                    <h:form id="picture1" enctype="multipart/form-data">
                        <h:inputFile id="file1" value="#{picturesEntityController.p}"/>
                        <h:commandButton action="#{picturesEntityController.processUploadPC1()}" value="Upload Picture1">
                            <f:ajax execute="file1" render=":form:pc1"/>
                        </h:commandButton>
                        
                    </h:form>
                </td>
                <td>
                    <h:form id="picture2" enctype="multipart/form-data">
                        <h:inputFile id="file2" value="#{picturesEntityController.p}"/>
                        <h:commandButton action="#{picturesEntityController.processUploadPC2()}" value="Upload Picture2">
                            <f:ajax execute="file2" render=":form:pc2"/>
                        </h:commandButton>
                        
                    </h:form>
                </td>
            </tr>
            <tr>
                <td>
                    <h:form id="picture3" enctype="multipart/form-data">
                        <h:inputFile id="file3" value="#{picturesEntityController.p}"/>
                        <h:commandButton action="#{picturesEntityController.processUploadPC3()}" value="Upload Picture3">
                            <f:ajax execute="file3" render=":form:pc3"/>
                        </h:commandButton>
                        
                    </h:form>
                </td>
                <td>
                    <h:form id="picture4" enctype="multipart/form-data">
                        <h:inputFile id="file4" value="#{picturesEntityController.p}"/>
                        <h:commandButton action="#{picturesEntityController.processUploadPC4()}" value="Upload Picture4">
                            <f:ajax execute="file4" render=":form:pc4"/>
                        </h:commandButton>
                        
                    </h:form>
                </td>
            </tr>
        </table>
    </div>
</ui:composition>