<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                template="./../../template/_layoutadminstrator.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:define name="content">
        <div class="main">
            <div class="content">
                <h:form>
                    <div class="content-top">
                        <div id="p-left">
                            <label>Danh Sach Cac Anh Mo Ta San Pham</label>
                        </div>
                        <div id="p-right">
                            <h:commandButton action="#{picturesEntityController.prepareCreate()}" value="Them Moi"/>
                        </div>
                    </div>
                    <div class="content-bottom">
                        <div class="search">
                            <div class="search-input">
                                <h:inputText a:placeholder="Nhap Mo Ta Chi Tiet Cua San Pham" value="#{picturesEntityController.descriptionname}"  id="descriptionpicture" />
                                <h:commandButton action="#{picturesEntityController.searchResult()}" value="Search"/>
                            </div>
                            <div class="messages">
                                <h:messages class="messagesucsess"/>
                            </div>
                        </div>
                        <div class="viewproduct">
                            <c:choose>
                                <c:when test="#{not empty picturesEntityController.items}">
                                    <h:outputText value="Khong tim thay ket qua nay"/>
                                </c:when>
                            </c:choose>
                            <h:panelGroup rendered="#{picturesEntityController.items.rowCount > 0}">
                                <div class="pagenumber">
                                    <h:outputText value="#{picturesEntityController.pagination.pageFirstItem + 1}..#{picturesEntityController.pagination.pageLastItem + 1}/#{picturesEntityController.pagination.itemsCount}"/>&nbsp;
                                    <h:commandLink action="#{picturesEntityController.previous}" value="#{bundle.Previous} #{picturesEntityController.pagination.pageSize}" rendered="#{picturesEntityController.pagination.hasPreviousPage}"/>&nbsp;
                                    <h:commandLink action="#{picturesEntityController.next}" value="#{bundle.Next} #{picturesEntityController.pagination.pageSize}" rendered="#{picturesEntityController.pagination.hasNextPage}"/>&nbsp;
                                </div>
                                <h:dataTable value="#{picturesEntityController.items}" var="item" id="table">
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListPicturesEntityTitle_pictureId}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.pictureId}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListPicturesEntityTitle_description}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.description}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListPicturesEntityTitle_picture1}"/>
                                        </f:facet>
                                        <!--<h:outputText value="#{item.picture1}"/>-->
                                        <h:graphicImage style="width: 150px; height: 150px" library="images/uploads" name="#{item.picture1}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListPicturesEntityTitle_picture2}"/>
                                        </f:facet>
                                        <!--<h:outputText value="#{item.picture2}"/>-->
                                        <h:graphicImage style="width: 150px; height: 150px" library="images/uploads" name="#{item.picture2}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListPicturesEntityTitle_picture3}"/>
                                        </f:facet>
                                        <h:graphicImage style="width: 150px; height: 150px" library="images/uploads" name="#{item.picture3}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListPicturesEntityTitle_picture4}"/>
                                        </f:facet>
                                        <h:graphicImage style="width: 150px; height: 150px" library="images/uploads" name="#{item.picture4}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="&nbsp;"/>
                                        </f:facet>
                                        <h:commandLink action="#{picturesEntityController.prepareEdit}" >
                                            <h:graphicImage library="images" name="icon-edit.jpg"/>
                                        </h:commandLink>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header"><h:outputText value="&nbsp;"/></f:facet>
                                        <h:commandLink action="#{picturesEntityController.destroy}">
                                            <h:graphicImage library="images" name="icon-delete.jpg"/>
                                        </h:commandLink>
                                    </h:column>
                                </h:dataTable>
                            </h:panelGroup>
                        </div>
                    </div>
                </h:form>
            </div>
        </div>
    </ui:define>
</ui:composition>