<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateProductsEntityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateProductsEntityLabel_productId}" for="productId" />
                    <h:inputText id="productId" value="#{productsEntityController.selected.productId}" title="#{bundle.CreateProductsEntityTitle_productId}" required="true" requiredMessage="#{bundle.CreateProductsEntityRequiredMessage_productId}"/>
                    <h:outputLabel value="#{bundle.CreateProductsEntityLabel_name}" for="name" />
                    <h:inputText id="name" value="#{productsEntityController.selected.name}" title="#{bundle.CreateProductsEntityTitle_name}" required="true" requiredMessage="#{bundle.CreateProductsEntityRequiredMessage_name}"/>
                    <h:outputLabel value="#{bundle.CreateProductsEntityLabel_description}" for="description" />
                    <h:inputText id="description" value="#{productsEntityController.selected.description}" title="#{bundle.CreateProductsEntityTitle_description}" />
                    <h:outputLabel value="#{bundle.CreateProductsEntityLabel_representPicture}" for="representPicture" />
                    <h:inputText id="representPicture" value="#{productsEntityController.selected.representPicture}" title="#{bundle.CreateProductsEntityTitle_representPicture}" />
                    <h:outputLabel value="#{bundle.CreateProductsEntityLabel_saleUnit}" for="saleUnit" />
                    <h:inputText id="saleUnit" value="#{productsEntityController.selected.saleUnit}" title="#{bundle.CreateProductsEntityTitle_saleUnit}" />
                    <h:outputLabel value="#{bundle.CreateProductsEntityLabel_price}" for="price" />
                    <h:inputText id="price" value="#{productsEntityController.selected.price}" title="#{bundle.CreateProductsEntityTitle_price}" required="true" requiredMessage="#{bundle.CreateProductsEntityRequiredMessage_price}"/>
                    <h:outputLabel value="#{bundle.CreateProductsEntityLabel_quantity}" for="quantity" />
                    <h:inputText id="quantity" value="#{productsEntityController.selected.quantity}" title="#{bundle.CreateProductsEntityTitle_quantity}" required="true" requiredMessage="#{bundle.CreateProductsEntityRequiredMessage_quantity}"/>
                    <h:outputLabel value="#{bundle.CreateProductsEntityLabel_view}" for="view" />
                    <h:inputText id="view" value="#{productsEntityController.selected.view}" title="#{bundle.CreateProductsEntityTitle_view}" />
                    <h:outputLabel value="#{bundle.CreateProductsEntityLabel_dateOfProduction}" for="dateOfProduction" />
                    <h:inputText id="dateOfProduction" value="#{productsEntityController.selected.dateOfProduction}" title="#{bundle.CreateProductsEntityTitle_dateOfProduction}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateProductsEntityLabel_warrantyPeriod}" for="warrantyPeriod" />
                    <h:inputText id="warrantyPeriod" value="#{productsEntityController.selected.warrantyPeriod}" title="#{bundle.CreateProductsEntityTitle_warrantyPeriod}" />
                    <h:outputLabel value="#{bundle.CreateProductsEntityLabel_screenSize}" for="screenSize" />
                    <h:inputText id="screenSize" value="#{productsEntityController.selected.screenSize}" title="#{bundle.CreateProductsEntityTitle_screenSize}" />
                    <h:outputLabel value="#{bundle.CreateProductsEntityLabel_weight}" for="weight" />
                    <h:inputText id="weight" value="#{productsEntityController.selected.weight}" title="#{bundle.CreateProductsEntityTitle_weight}" />
                    <h:outputLabel value="#{bundle.CreateProductsEntityLabel_categoryId}" for="categoryId" />
                    <h:selectOneMenu id="categoryId" value="#{productsEntityController.selected.categoryId}" title="#{bundle.CreateProductsEntityTitle_categoryId}" required="true" requiredMessage="#{bundle.CreateProductsEntityRequiredMessage_categoryId}">
                        <f:selectItems value="#{categorysEntityController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateProductsEntityLabel_pictureId}" for="pictureId" />
                    <h:selectOneMenu id="pictureId" value="#{productsEntityController.selected.pictureId}" title="#{bundle.CreateProductsEntityTitle_pictureId}" required="true" requiredMessage="#{bundle.CreateProductsEntityRequiredMessage_pictureId}">
                        <f:selectItems value="#{picturesEntityController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{productsEntityController.create}" value="#{bundle.CreateProductsEntitySaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{productsEntityController.prepareList}" value="#{bundle.CreateProductsEntityShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateProductsEntityIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
