<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditProductsEntityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditProductsEntityLabel_productId}" for="productId" />
                    <h:inputText id="productId" value="#{productsEntityController.selected.productId}" title="#{bundle.EditProductsEntityTitle_productId}" required="true" requiredMessage="#{bundle.EditProductsEntityRequiredMessage_productId}"/>
                    <h:outputLabel value="#{bundle.EditProductsEntityLabel_name}" for="name" />
                    <h:inputText id="name" value="#{productsEntityController.selected.name}" title="#{bundle.EditProductsEntityTitle_name}" required="true" requiredMessage="#{bundle.EditProductsEntityRequiredMessage_name}"/>
                    <h:outputLabel value="#{bundle.EditProductsEntityLabel_description}" for="description" />
                    <h:inputText id="description" value="#{productsEntityController.selected.description}" title="#{bundle.EditProductsEntityTitle_description}" />
                    <h:outputLabel value="#{bundle.EditProductsEntityLabel_representPicture}" for="representPicture" />
                    <h:inputText id="representPicture" value="#{productsEntityController.selected.representPicture}" title="#{bundle.EditProductsEntityTitle_representPicture}" />
                    <h:outputLabel value="#{bundle.EditProductsEntityLabel_saleUnit}" for="saleUnit" />
                    <h:inputText id="saleUnit" value="#{productsEntityController.selected.saleUnit}" title="#{bundle.EditProductsEntityTitle_saleUnit}" />
                    <h:outputLabel value="#{bundle.EditProductsEntityLabel_price}" for="price" />
                    <h:inputText id="price" value="#{productsEntityController.selected.price}" title="#{bundle.EditProductsEntityTitle_price}" required="true" requiredMessage="#{bundle.EditProductsEntityRequiredMessage_price}"/>
                    <h:outputLabel value="#{bundle.EditProductsEntityLabel_quantity}" for="quantity" />
                    <h:inputText id="quantity" value="#{productsEntityController.selected.quantity}" title="#{bundle.EditProductsEntityTitle_quantity}" required="true" requiredMessage="#{bundle.EditProductsEntityRequiredMessage_quantity}"/>
                    <h:outputLabel value="#{bundle.EditProductsEntityLabel_view}" for="view" />
                    <h:inputText id="view" value="#{productsEntityController.selected.view}" title="#{bundle.EditProductsEntityTitle_view}" />
                    <h:outputLabel value="#{bundle.EditProductsEntityLabel_dateOfProduction}" for="dateOfProduction" />
                    <h:inputText id="dateOfProduction" value="#{productsEntityController.selected.dateOfProduction}" title="#{bundle.EditProductsEntityTitle_dateOfProduction}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditProductsEntityLabel_warrantyPeriod}" for="warrantyPeriod" />
                    <h:inputText id="warrantyPeriod" value="#{productsEntityController.selected.warrantyPeriod}" title="#{bundle.EditProductsEntityTitle_warrantyPeriod}" />
                    <h:outputLabel value="#{bundle.EditProductsEntityLabel_screenSize}" for="screenSize" />
                    <h:inputText id="screenSize" value="#{productsEntityController.selected.screenSize}" title="#{bundle.EditProductsEntityTitle_screenSize}" />
                    <h:outputLabel value="#{bundle.EditProductsEntityLabel_weight}" for="weight" />
                    <h:inputText id="weight" value="#{productsEntityController.selected.weight}" title="#{bundle.EditProductsEntityTitle_weight}" />
                    <h:outputLabel value="#{bundle.EditProductsEntityLabel_categoryId}" for="categoryId" />
                    <h:selectOneMenu id="categoryId" value="#{productsEntityController.selected.categoryId}" title="#{bundle.EditProductsEntityTitle_categoryId}" required="true" requiredMessage="#{bundle.EditProductsEntityRequiredMessage_categoryId}">
                        <f:selectItems value="#{categorysEntityController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditProductsEntityLabel_pictureId}" for="pictureId" />
                    <h:selectOneMenu id="pictureId" value="#{productsEntityController.selected.pictureId}" title="#{bundle.EditProductsEntityTitle_pictureId}" required="true" requiredMessage="#{bundle.EditProductsEntityRequiredMessage_pictureId}">
                        <f:selectItems value="#{picturesEntityController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{productsEntityController.update}" value="#{bundle.EditProductsEntitySaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditProductsEntityViewLink}"/>
                <br />
                <h:commandLink action="#{productsEntityController.prepareList}" value="#{bundle.EditProductsEntityShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditProductsEntityIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
