<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./../../template/_layoutadminstrator.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <f:event listener="#{adminstratorController.isAdmin(event)}" type="preRenderView"/>
        <h:form>
            <ui:include src="form_acount.xhtml"/>
            <div class="action">
                <h:commandButton action="#{acountsEntityController.update()}" value="Update Acount"/>
            </div>
        </h:form>
    </ui:define>

</ui:composition>
