<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <div class="form-product">
        <f:event listener="#{adminstratorController.isAdmin(event)}" type="preRenderView"/>
        <table>
            <tr>
                <td><h:outputLabel value="#{bundle.CreateAcountsEntityLabel_userName}" for="userName" /></td>
                <td><h:inputText a:placeholder="User Name" value="#{acountsEntityController.selected.userName}" id="userName" required="true" requiredMessage="#{bundle.CreateAcountsEntityRequiredMessage_userName}"/></td>
                <td><span>*<h:message for="userName"/></span></td>
            </tr>
            <tr>
                <td><h:outputLabel value="#{bundle.CreateAcountsEntityLabel_password}" for="password" /></td>
                <td><h:inputSecret id="password" value="#{acountsEntityController.password}" required="true" requiredMessage="#{bundle.CreateAcountsEntityRequiredMessage_password}"/></td>
                <td><span>*<h:message for="password"/></span></td>
            </tr>
            <tr>
                <td><h:outputLabel value="#{bundle.CreateAcountsEntityLabel_status}" for="status" /></td>
                <td>
                    <h:selectOneMenu id="status" value="#{acountsEntityController.selected.status}" required="true" requiredMessage="#{bundle.CreateAcountsEntityRequiredMessage_status}">
                        <f:selectItem itemValue='1' itemLabel="On"/>
                        <f:selectItem itemValue='0' itemLabel="Off"/>
                    </h:selectOneMenu>
                </td>
                <td><span>*<h:message for="status"/></span></td>
            </tr>
            <tr>
                <td><h:outputLabel value="#{bundle.CreateAcountsEntityLabel_roleId}" for="roleId" /></td>
                <td>
                    <h:selectOneMenu id="roleId" value="#{acountsEntityController.selected.roleId}" required="true" requiredMessage="#{bundle.CreateAcountsEntityRequiredMessage_roleId}">
                        <f:selectItems value="#{acountsEntityController.returnRoles}"/>
                    </h:selectOneMenu>
                </td>
                <td><span>*<h:message for="roleId"/></span></td>
            </tr>
            <tr>
                <td><h:outputLabel value="#{bundle.CreateAcountsEntityLabel_employeeId}" for="employeeId" /></td>
                <td>    
                    <h:selectOneMenu id="employeeId" value="#{acountsEntityController.selected.employeeId}" required="true" requiredMessage="#{bundle.CreateAcountsEntityRequiredMessage_employeeId}">
                        <f:selectItem value="#{null}" itemLabel="--Chon Ten Nhan Vien Voi Tai Khoan Nay--"/>
                        <f:selectItems value="#{acountsEntityController.returnEmployees}"/>
                    </h:selectOneMenu>
                </td>
                <td><span>*<h:message for="employeeId"/></span></td>
            </tr>
        </table>
        <h:messages class="messagesucsess"/>
    </div>
</ui:composition>