<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../../template/homepage.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="top">
        <div class="index-banner">
            <div class="wmuSlider example1" style="height: 560px;">
                <div class="wmuSliderWrapper">
                    <article style="position: relative; width: 100%; opacity: 1;">
                        <div class="banner-wrap">
                            <div class="slider-left">
                                <h:graphicImage library="images" name="APPLE MACINTOSH(MAC)_E.jpg" alt="" />
                            </div>
                            <div class="slider-right">
                                <h1>Classic</h1>
                                <h2>White</h2>
                                <p>Shoe Sport</p>
                                <div class="btn">
                                    <a href="shop.html">Shop Now</a>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </article>
                    <article style="position: absolute; width: 100%; opacity: 0;">
                        <div class="banner-wrap">
                            <div class="slider-left">
                                <h:graphicImage library="images" name="ACER_E.jpg" alt="" />
                            </div>
                            <div class="slider-right">
                                <h1>Classic</h1>
                                <h2>White</h2>
                                <p>Shoe Sport</p>
                                <div class="btn">
                                    <a href="shop.html">Shop Now</a>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </article>
                    <article style="position: absolute; width: 100%; opacity: 0;">
                        <div class="banner-wrap">
                            <div class="slider-left">
                                <h:graphicImage library="images" name="ASUS_E.jpg" alt="" />
                            </div>
                            <div class="slider-right">
                                <h1>Classic</h1>
                                <h2>White</h2>
                                <p>Shoe Sport</p>
                                <div class="btn">
                                    <a href="shop.html">Shop Now</a>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </article>
                    <article style="position: absolute; width: 100%; opacity: 0;">
                        <div class="banner-wrap">
                            <div class="slider-left">
                                <h:graphicImage library="images" name="GATEWAY_E.jpg" alt="" />
                            </div>
                            <div class="slider-right">
                                <h1>Classic</h1>
                                <h2>White</h2>
                                <p>Shoe Sport</p>
                                <div class="btn">
                                    <a href="shop.html">Shop Now</a>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </article>
                    <article style="position: absolute; width: 100%; opacity: 0;">
                        <div class="banner-wrap">
                            <div class="slider-left">
                                <h:graphicImage library="images" name="TOSHIBA_E.jpg" alt="" />
                            </div>
                            <div class="slider-right">
                                <h1>Classic</h1>
                                <h2>White</h2>
                                <p>Shoe Sport</p>
                                <div class="btn">
                                    <a href="shop.html">Shop Now</a>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </article>
                </div>
                <a class="wmuSliderPrev">Previous</a><a class="wmuSliderNext">Next</a>
                <ul class="wmuSliderPagination">
                    <li><a href="#" class="">0</a></li>
                    <li><a href="#" class="">1</a></li>
                    <li><a href="#" class="wmuActive">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                </ul>
                <a class="wmuSliderPrev">Previous</a><a class="wmuSliderNext">Next</a>
                <ul class="wmuSliderPagination">
                    <li><a href="#" class="wmuActive">0</a></li>
                    <li><a href="#" class="">1</a></li>
                    <li><a href="#" class="">2</a></li>
                    <li><a href="#" class="">3</a></li>
                    <li><a href="#" class="">4</a></li>
                </ul>
            </div>
            <h:outputScript name="./js/jquery.wmuSlider.js"/>
            <script>
                $('.example1').wmuSlider();
            </script>
        </div>
    </ui:define>

    <ui:define name="content">
        <div class="main">
            <aside id="fb">
                <a href="#"><h:graphicImage library="images" name="fb.jpg"/></a>
            </aside>
            <aside id="mail">
                <a href="#"><h:graphicImage library="images" name="mail.jpg"/></a>
            </aside>
            <aside id="tops">
                <a href="#"><h:graphicImage library="images" name="top.jpg" /></a>
            </aside>
            <hr style="margin:15px 0px; width:1165px; border:2px solid; float:left; margin-left:65px"/>
            <div class="clear"></div>
            <div id="search-card">
                <div class="anphu"><h:graphicImage library="images" name="anphu.jpg" alt="An Phu Computer"/></div>
                <div class="search">
                    <input type="text" placeholder="Nhap ten san pham can tim kiem"/>
                    <input type="submit" value="Search"/>
                </div>
                <div class="cart">
                    <a href="#"><h:graphicImage library="images" name="shopping-cart_icon.gif"/>
                        <p style="display:inline; position:absolute; margin-top:15px; margin-left:20px">Gio Hang (0)</p>
                    </a>
                </div>
            </div>
            <div class="clear"></div>
            <div class="wrap">
                <div class="content-top">
                    <div class="cong">
                        <ul>
                            <li><a href="#">San Pham Mua Nhieu Nhat</a></li>
                            <li><a href="#">San Pham Xem Nhieu Nhat</a></li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <!-- Main -->
            <div class="main">
                <div class="wrap">

                    <div class="content-bottom">
                        <!--Begin Product -->
                        <div class="box1">
                            <div class="col_1_of_3 span_1_of_3">
                                <a href="single.html">
                                    <div class="view view-fifth">
                                        <div class="top_box">
                                            <h3 class="m_1">Shoe Sport</h3>
                                            <p class="m_2">New</p>
                                            <div class="grid_img">
                                                <div class="css3">
                                                    <h:graphicImage library="images/500x500" name="one-e.jpg" alt="" />
                                                </div>
                                                <div class="mask">
                                                    <div class="info">Quick View</div>
                                                </div>
                                            </div>
                                            <div class="price">$480</div>
                                        </div>
                                    </div> 
                                    <span class="rating"> 
                                        <input type="radio" class="rating-input" id="rating-input-1-5" name="rating-input-1"/> 
                                        <label for="rating-input-1-5" class="rating-star1"></label> 
                                        <input type="radio" class="rating-input" id="rating-input-1-4" name="rating-input-1"/> 
                                        <label for="rating-input-1-4" class="rating-star1"></label>
                                        <input type="radio" class="rating-input" id="rating-input-1-3" name="rating-input-1"/>                                         
                                        <label for="rating-input-1-3" class="rating-star1"></label> 
                                        <input type="radio" class="rating-input" id="rating-input-1-2" name="rating-input-1"/> 
                                        <label for="rating-input-1-2" class="rating-star"></label>
                                        <input type="radio" class="rating-input" id="rating-input-1-1" name="rating-input-1"/> 
                                        <label for="rating-input-1-1" class="rating-star"></label>&nbsp; (45)
                                    </span>
                                    <ul class="list">
                                        <li><h:graphicImage library="images" name="plus.png" alt="" />
                                            <ul class="icon1 sub-icon1 profile_img">
                                                <li><a class="active-icon c1" href="#">Add To Bag </a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <div class="clear"></div>
                                </a>
                            </div>
                            <div class="col_1_of_3 span_1_of_3">
                                <a href="single.html">
                                    <div class="view view-fifth">
                                        <div class="top_box">
                                            <h3 class="m_1">Shoe Sport</h3>
                                            <p class="m_2">New</p>
                                            <div class="grid_img">
                                                <div class="css3">
                                                    <h:graphicImage library="images/500x500" name="two-e.jpg" alt="" />
                                                </div>
                                                <div class="mask">
                                                    <div class="info">Quick View</div>
                                                </div>
                                            </div>
                                            <div class="price">$480</div>
                                        </div>
                                    </div> 
                                    <span class="rating"> 
                                        <input type="radio" class="rating-input" id="rating-input-1-5" name="rating-input-1"/> 
                                        <label for="rating-input-1-5" class="rating-star1"></label> 
                                        <input type="radio" class="rating-input" id="rating-input-1-4" name="rating-input-1"/> 
                                        <label for="rating-input-1-4" class="rating-star1"></label>
                                        <input type="radio" class="rating-input" id="rating-input-1-3" name="rating-input-1"/>                                         
                                        <label for="rating-input-1-3" class="rating-star1"></label> 
                                        <input type="radio" class="rating-input" id="rating-input-1-2" name="rating-input-1"/> 
                                        <label for="rating-input-1-2" class="rating-star"></label>
                                        <input type="radio" class="rating-input" id="rating-input-1-1" name="rating-input-1"/> 
                                        <label for="rating-input-1-1" class="rating-star"></label>&nbsp; (45)
                                    </span>
                                    <ul class="list">
                                        <li><h:graphicImage library="images" name="plus.png" alt="" />
                                            <ul class="icon1 sub-icon1 profile_img">
                                                <li><a class="active-icon c1" href="#">Add To Bag </a></li>
                                            </ul></li>
                                    </ul>
                                    <div class="clear"></div>
                                </a>
                            </div>
                            <div class="col_1_of_3 span_1_of_3">
                                <a href="single.html">
                                    <div class="view view-fifth">
                                        <div class="top_box">
                                            <h3 class="m_1">Shoe Sport</h3>
                                            <p class="m_2">New</p>
                                            <div class="grid_img">
                                                <div class="css3">
                                                    <h:graphicImage library="images/500x500" name="three-e.jpg" alt="" />
                                                </div>
                                                <div class="mask">
                                                    <div class="info">Quick View</div>
                                                </div>
                                            </div>
                                            <div class="price">$480</div>
                                        </div>
                                    </div> 
                                    <span class="rating"> 
                                        <input type="radio" class="rating-input" id="rating-input-1-5" name="rating-input-1"/> 
                                        <label for="rating-input-1-5" class="rating-star1"></label> 
                                        <input type="radio" class="rating-input" id="rating-input-1-4" name="rating-input-1"/> 
                                        <label for="rating-input-1-4" class="rating-star1"></label>
                                        <input type="radio" class="rating-input" id="rating-input-1-3" name="rating-input-1"/>                                         
                                        <label for="rating-input-1-3" class="rating-star1"></label> 
                                        <input type="radio" class="rating-input" id="rating-input-1-2" name="rating-input-1"/> 
                                        <label for="rating-input-1-2" class="rating-star"></label>
                                        <input type="radio" class="rating-input" id="rating-input-1-1" name="rating-input-1"/> 
                                        <label for="rating-input-1-1" class="rating-star"></label>&nbsp; (45)
                                    </span>
                                    <ul class="list">
                                        <li><h:graphicImage library="images" name="plus.png" alt="" />
                                            <ul class="icon1 sub-icon1 profile_img">
                                                <li><a class="active-icon c1" href="#">Add To Bag </a></li>
                                            </ul></li>
                                    </ul>
                                    <div class="clear"></div>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <!--End Product-->
                        <div class="box1">
                            <div class="col_1_of_3 span_1_of_3">
                                <a href="single.html">
                                    <div class="view view-fifth">
                                        <div class="top_box">
                                            <h3 class="m_1">Shoe Sport</h3>
                                            <p class="m_2">New</p>
                                            <div class="grid_img">
                                                <div class="css3">
                                                    <h:graphicImage library="images/500x500" name="four-e.jpg" alt="" />
                                                </div>
                                                <div class="mask">
                                                    <div class="info">Quick View</div>
                                                </div>
                                            </div>
                                            <div class="price">$480</div>
                                        </div>
                                    </div> 
                                    <span class="rating"> 
                                        <input type="radio" class="rating-input" id="rating-input-1-5" name="rating-input-1"/> 
                                        <label for="rating-input-1-5" class="rating-star1"></label> 
                                        <input type="radio" class="rating-input" id="rating-input-1-4" name="rating-input-1"/> 
                                        <label for="rating-input-1-4" class="rating-star1"></label>
                                        <input type="radio" class="rating-input" id="rating-input-1-3" name="rating-input-1"/>                                         
                                        <label for="rating-input-1-3" class="rating-star1"></label> 
                                        <input type="radio" class="rating-input" id="rating-input-1-2" name="rating-input-1"/> 
                                        <label for="rating-input-1-2" class="rating-star"></label>
                                        <input type="radio" class="rating-input" id="rating-input-1-1" name="rating-input-1"/> 
                                        <label for="rating-input-1-1" class="rating-star"></label>&nbsp; (45)
                                    </span>
                                    <ul class="list">
                                        <li><h:graphicImage library="images" name="plus.png" alt="" />
                                            <ul class="icon1 sub-icon1 profile_img">
                                                <li><a class="active-icon c1" href="#">Add To Bag </a></li>
                                            </ul></li>
                                    </ul>
                                    <div class="clear"></div>
                                </a>
                            </div>
                            <div class="col_1_of_3 span_1_of_3">
                                <a href="single.html">
                                    <div class="view view-fifth">
                                        <div class="top_box">
                                            <h3 class="m_1">Shoe Sport</h3>
                                            <p class="m_2">New</p>
                                            <div class="grid_img">
                                                <div class="css3">
                                                    <h:graphicImage library="images/500x500" name="five-e.jpg" alt="" />
                                                </div>
                                                <div class="mask">
                                                    <div class="info">Quick View</div>
                                                </div>
                                            </div>
                                            <div class="price">$480</div>
                                        </div>
                                    </div> 
                                    <span class="rating"> 
                                        <input type="radio" class="rating-input" id="rating-input-1-5" name="rating-input-1"/> 
                                        <label for="rating-input-1-5" class="rating-star1"></label> 
                                        <input type="radio" class="rating-input" id="rating-input-1-4" name="rating-input-1"/> 
                                        <label for="rating-input-1-4" class="rating-star1"></label>
                                        <input type="radio" class="rating-input" id="rating-input-1-3" name="rating-input-1"/>                                         
                                        <label for="rating-input-1-3" class="rating-star1"></label> 
                                        <input type="radio" class="rating-input" id="rating-input-1-2" name="rating-input-1"/> 
                                        <label for="rating-input-1-2" class="rating-star"></label>
                                        <input type="radio" class="rating-input" id="rating-input-1-1" name="rating-input-1"/> 
                                        <label for="rating-input-1-1" class="rating-star"></label>&nbsp; (45)
                                    </span>
                                    <ul class="list">
                                        <li><h:graphicImage library="images" name="plus.png" alt="" />
                                            <ul class="icon1 sub-icon1 profile_img">
                                                <li><a class="active-icon c1" href="#">Add To Bag </a></li>
                                            </ul></li>
                                    </ul>
                                    <div class="clear"></div>
                                </a>
                            </div>
                            <div class="col_1_of_3 span_1_of_3">
                                <a href="single.html">
                                    <div class="view view-fifth">
                                        <div class="top_box">
                                            <h3 class="m_1">Shoe Sport</h3>
                                            <p class="m_2">New</p>
                                            <div class="grid_img">
                                                <div class="css3">
                                                    <h:graphicImage library="images/500x500" name="six-e.jpg" alt="" />
                                                </div>
                                                <div class="mask">
                                                    <div class="info">Quick View</div>
                                                </div>
                                            </div>
                                            <div class="price">$480</div>
                                        </div>
                                    </div> 
                                    <span class="rating"> 
                                        <input type="radio" class="rating-input" id="rating-input-1-5" name="rating-input-1"/> 
                                        <label for="rating-input-1-5" class="rating-star1"></label> 
                                        <input type="radio" class="rating-input" id="rating-input-1-4" name="rating-input-1"/> 
                                        <label for="rating-input-1-4" class="rating-star1"></label>
                                        <input type="radio" class="rating-input" id="rating-input-1-3" name="rating-input-1"/>                                         
                                        <label for="rating-input-1-3" class="rating-star1"></label> 
                                        <input type="radio" class="rating-input" id="rating-input-1-2" name="rating-input-1"/> 
                                        <label for="rating-input-1-2" class="rating-star"></label>
                                        <input type="radio" class="rating-input" id="rating-input-1-1" name="rating-input-1"/> 
                                        <label for="rating-input-1-1" class="rating-star"></label>&nbsp; (45)
                                    </span>
                                    <ul class="list">
                                        <li><h:graphicImage library="images" name="plus.png" alt="" />
                                            <ul class="icon1 sub-icon1 profile_img">
                                                <li><a class="active-icon c1" href="#">Add To Bag </a></li>
                                            </ul></li>
                                    </ul>
                                    <div class="clear"></div>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <!-- Content-bottom-right-->
                    <aside id="asidetoc"></aside><!--tao danh muc cac hang may tinh-->
                    <article class="articletoc">
                        <h2>ASUS</h2>
                    </article>
                    <div class="tabs">
                        <ul>
                            <li><a href="#tabs-1">Cac San Pham Moi</a></li>
                            <li><a href="#tabs-2">Phu Kien</a></li>
                            <li><a href="#tabs-3">Khac</a></li>
                        </ul>
                        <div id="tabs-1">
                            <p>Hien thi cac san pham moi</p>
                            <br/><br/><br/><br/><br/><br/><br/>
                        </div>
                        <div id="tabs-2">
                            <p>Hien thi phu kien</p>
                        </div>
                        <div id="tabs-3">
                            <p>Thong tin khac</p>
                        </div>
                    </div>
                    <!--Dell-->
                    <article class="articletoc">
                        <h2>DELL</h2>
                    </article>
                    <div class="tabs">
                        <ul>
                            <li><a href="#tabs-1">Cac San Pham Moi</a></li>
                            <li><a href="#tabs-2">Phu Kien</a></li>
                            <li><a href="#tabs-3">Khac</a></li>
                        </ul>
                        <div id="tabs-1">
                            <p>Hien thi cac san pham moi</p>
                            <br/><br/><br/><br/><br/><br/><br/>
                        </div>
                        <div id="tabs-2">
                            <p>Hien thi phu kien</p>
                        </div>
                        <div id="tabs-3">
                            <p>Thong tin khac</p>
                        </div>
                    </div>
                    <!--End dell-->
                    <!--ACER-->
                    <article class="articletoc">
                        <h2>ACER</h2>
                    </article>
                    <div class="tabs">
                        <ul>
                            <li><a href="#tabs-1">Cac San Pham Moi</a></li>
                            <li><a href="#tabs-2">Phu Kien</a></li>
                            <li><a href="#tabs-3">Khac</a></li>
                        </ul>
                        <div id="tabs-1">
                            <p>Hien thi cac san pham moi</p>
                            <br/><br/><br/><br/><br/><br/><br/>
                        </div>
                        <div id="tabs-2">
                            <p>Hien thi phu kien</p>
                        </div>
                        <div id="tabs-3">
                            <p>Thong tin khac</p>
                        </div>
                    </div>
                    <!--End ACER-->
                    <!--APPLE MACINTOSH(MAC)-->
                    <article class="articletoc">
                        <h2>APPLE</h2></article>
                    <div class="tabs">
                        <ul>
                            <li><a href="#tabs-1">Cac San Pham Moi</a></li>
                            <li><a href="#tabs-2">Phu Kien</a></li>
                            <li><a href="#tabs-3">Khac</a></li>
                        </ul>
                        <div id="tabs-1">
                            <p>Hien thi cac san pham moi</p>
                            <br/><br/><br/><br/><br/><br/><br/>
                        </div>
                        <div id="tabs-2">
                            <p>Hien thi phu kien</p>
                        </div>
                        <div id="tabs-3">
                            <p>Thong tin khac</p>
                        </div>
                    </div>
                    <!--End APPLE MACINTOSH(MAC)-->
                    <!--GATEWAY-->
                    <article class="articletoc">
                        <h2>GATEWAY</h2></article>
                    <div class="tabs">
                        <ul>
                            <li><a href="#tabs-1">Cac San Pham Moi</a></li>
                            <li><a href="#tabs-2">Phu Kien</a></li>
                            <li><a href="#tabs-3">Khac</a></li>
                        </ul>
                        <div id="tabs-1">
                            <p>Hien thi cac san pham moi</p>
                            <br/><br/><br/><br/><br/><br/><br/>
                        </div>
                        <div id="tabs-2">
                            <p>Hien thi phu kien</p>
                        </div>
                        <div id="tabs-3">
                            <p>Thong tin khac</p>
                        </div>
                    </div>
                    <!--GATEWAY-->
                    <!--hp-->
                    <article class="articletoc">
                        <h2>HP</h2></article>
                    <div class="tabs">
                        <ul>
                            <li><a href="#tabs-1">Cac San Pham Moi</a></li>
                            <li><a href="#tabs-2">Phu Kien</a></li>
                            <li><a href="#tabs-3">Khac</a></li>
                        </ul>
                        <div id="tabs-1">
                            <p>Hien thi cac san pham moi</p>
                            <br/><br/><br/><br/><br/><br/><br/>
                        </div>
                        <div id="tabs-2">
                            <p>Hien thi phu kien</p>
                        </div>
                        <div id="tabs-3">
                            <p>Thong tin khac</p>
                        </div>
                    </div>
                    <!--END HP-->
                    <!--LENEVO-->
                    <article class="articletoc">
                        <h2>LENEVO</h2></article>
                    <div class="tabs">
                        <ul>
                            <li><a href="#tabs-1">Cac San Pham Moi</a></li>
                            <li><a href="#tabs-2">Phu Kien</a></li>
                            <li><a href="#tabs-3">Khac</a></li>
                        </ul>
                        <div id="tabs-1">
                            <p>Hien thi cac san pham moi</p>
                            <br/><br/><br/><br/><br/><br/><br/>
                        </div>
                        <div id="tabs-2">
                            <p>Hien thi phu kien</p>
                        </div>
                        <div id="tabs-3">
                            <p>Thong tin khac</p>
                        </div>
                    </div>
                    <!--END LENEVO-->
                    <!--SAMSUNG-->
                    <article class="articletoc">
                        <h2>SAMSUNG</h2></article>
                    <div class="tabs">
                        <ul>
                            <li><a href="#tabs-1">Cac San Pham Moi</a></li>
                            <li><a href="#tabs-2">Phu Kien</a></li>
                            <li><a href="#tabs-3">Khac</a></li>
                        </ul>
                        <div id="tabs-1">
                            <p>Hien thi cac san pham moi</p>
                            <br/><br/><br/><br/><br/><br/><br/>
                        </div>
                        <div id="tabs-2">
                            <p>Hien thi phu kien</p>
                        </div>
                        <div id="tabs-3">
                            <p>Thong tin khac</p>
                        </div>
                    </div>
                    <!--END SAMSUNG-->
                    <!--SONY-->
                    <article class="articletoc">
                        <h2>SONY</h2></article>
                    <div class="tabs">
                        <ul>
                            <li><a href="#tabs-1">Cac San Pham Moi</a></li>
                            <li><a href="#tabs-2">Phu Kien</a></li>
                            <li><a href="#tabs-3">Khac</a></li>
                        </ul>
                        <div id="tabs-1">
                            <p>Hien thi cac san pham moi</p>
                            <br/><br/><br/><br/><br/><br/><br/>
                        </div>
                        <div id="tabs-2">
                            <p>Hien thi phu kien</p>
                        </div>
                        <div id="tabs-3">
                            <p>Thong tin khac</p>
                        </div>
                    </div>
                    <!--END SONY-->
                    <!--TOSHIBA-->
                    <article class="articletoc">
                        <h2>TOSHIBA</h2></article>
                    <div class="tabs">
                        <ul>
                            <li><a href="#tabs-1">Cac San Pham Moi</a></li>
                            <li><a href="#tabs-2">Phu Kien</a></li>
                            <li><a href="#tabs-3">Khac</a></li>
                        </ul>
                        <div id="tabs-1">
                            <p>Hien thi cac san pham moi</p>
                            <br/><br/><br/><br/><br/><br/><br/>
                        </div>
                        <div id="tabs-2">
                            <p>Hien thi phu kien</p>
                        </div>
                        <div id="tabs-3">
                            <p>Thong tin khac</p>
                        </div>
                    </div>
                    <!--END TOSHIBA-->
                    <!-- End-Content-bottom-right-->
                </div>
            </div>
            <!-- End Main -->
        </div>
    </ui:define>

</ui:composition>
