<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
                template="./../../template/_layoutadminstrator.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <div class="main">
            <div class="content">
                <h:form>
                    <div class="content-top">
                        <div id="p-left">
                            <label>Danh sach Chi Tiet Don Hang</label>
                        </div>
                        <div id="p-right">
                            <h:commandButton value="Them Moi" action="#{orderdetailsEntityController.prepareCreate()}"/>
                        </div>
                    </div>
                    <div class="content-bottom">
                        <div class="search">
                            <div class="search-input">
                                <h:inputText a:placeholder="Nhap Ten Khach Hang" value="#{ffff}"  id="customername" />
                                <h:commandButton action="#{dddd}" value="Search"/>
                            </div>
                            <div class="messages"><h:messages class="messagesucsess"/></div>
                        </div>
                        <div class="viewproduct">
                            <h:outputText escape="false" value="#{bundle.ListOrderdetailsEntityEmpty}" rendered="#{orderdetailsEntityController.items.rowCount == 0}"/>
                            <h:panelGroup rendered="#{orderdetailsEntityController.items.rowCount > 0}">
                                <div class="pagenumber">
                                    <h:outputText value="#{orderdetailsEntityController.pagination.pageFirstItem + 1}..#{orderdetailsEntityController.pagination.pageLastItem + 1}/#{orderdetailsEntityController.pagination.itemsCount}"/>&nbsp;
                                    <h:commandLink action="#{orderdetailsEntityController.previous}" value="#{bundle.Previous} #{orderdetailsEntityController.pagination.pageSize}" rendered="#{orderdetailsEntityController.pagination.hasPreviousPage}"/>&nbsp;
                                    <h:commandLink action="#{orderdetailsEntityController.next}" value="#{bundle.Next} #{orderdetailsEntityController.pagination.pageSize}" rendered="#{orderdetailsEntityController.pagination.hasNextPage}"/>&nbsp;
                                </div>
                                <h:dataTable value="#{orderdetailsEntityController.items}" var="item" >
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListOrderdetailsEntityTitle_orderDetailId}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.orderDetailId}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListOrderdetailsEntityTitle_orderQuantity}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.orderQuantity}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListOrderdetailsEntityTitle_orderId}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.orderId}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Customer Name"/>
                                        </f:facet>
                                        <h:outputText value="#{item.orderId.customerId.lastName}"/>
                                        <h:outputText value="&nbsp;"/>
                                        <h:outputText value="#{item.orderId.customerId.firstName}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListOrderdetailsEntityTitle_productId}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.productId}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Product Name"/>
                                        </f:facet>
                                        <h:outputText value="#{item.productId.name}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">&nbsp;</f:facet>
                                        <h:commandLink action="#{orderdetailsEntityController.prepareEdit()}">
                                            <h:graphicImage library="images" name="icon-edit.jpg"/>
                                        </h:commandLink>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">&nbsp;</f:facet>
                                        <h:commandLink action="#{orderdetailsEntityController.destroy()}">
                                            <h:graphicImage library="images" name="icon-delete.jpg"/>
                                        </h:commandLink>
                                    </h:column>
                                </h:dataTable>
                            </h:panelGroup>
                        </div>
                    </div>
                </h:form>
            </div>
        </div>
    </ui:define>

</ui:composition>
