<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateTransactionsEntityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateTransactionsEntityLabel_transactionId}" for="transactionId" />
                    <h:inputText id="transactionId" value="#{transactionsEntityController.selected.transactionId}" title="#{bundle.CreateTransactionsEntityTitle_transactionId}" required="true" requiredMessage="#{bundle.CreateTransactionsEntityRequiredMessage_transactionId}"/>
                    <h:outputLabel value="#{bundle.CreateTransactionsEntityLabel_responseCode}" for="responseCode" />
                    <h:inputText id="responseCode" value="#{transactionsEntityController.selected.responseCode}" title="#{bundle.CreateTransactionsEntityTitle_responseCode}" required="true" requiredMessage="#{bundle.CreateTransactionsEntityRequiredMessage_responseCode}"/>
                    <h:outputLabel value="#{bundle.CreateTransactionsEntityLabel_status}" for="status" />
                    <h:inputText id="status" value="#{transactionsEntityController.selected.status}" title="#{bundle.CreateTransactionsEntityTitle_status}" required="true" requiredMessage="#{bundle.CreateTransactionsEntityRequiredMessage_status}"/>
                    <h:outputLabel value="#{bundle.CreateTransactionsEntityLabel_number}" for="number" />
                    <h:inputText id="number" value="#{transactionsEntityController.selected.number}" title="#{bundle.CreateTransactionsEntityTitle_number}" required="true" requiredMessage="#{bundle.CreateTransactionsEntityRequiredMessage_number}"/>
                    <h:outputLabel value="#{bundle.CreateTransactionsEntityLabel_transactionDate}" for="transactionDate" />
                    <h:inputText id="transactionDate" value="#{transactionsEntityController.selected.transactionDate}" title="#{bundle.CreateTransactionsEntityTitle_transactionDate}" required="true" requiredMessage="#{bundle.CreateTransactionsEntityRequiredMessage_transactionDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateTransactionsEntityLabel_message}" for="message" />
                    <h:inputText id="message" value="#{transactionsEntityController.selected.message}" title="#{bundle.CreateTransactionsEntityTitle_message}" required="true" requiredMessage="#{bundle.CreateTransactionsEntityRequiredMessage_message}"/>
                    <h:outputLabel value="#{bundle.CreateTransactionsEntityLabel_orderId}" for="orderId" />
                    <h:selectOneMenu id="orderId" value="#{transactionsEntityController.selected.orderId}" title="#{bundle.CreateTransactionsEntityTitle_orderId}" required="true" requiredMessage="#{bundle.CreateTransactionsEntityRequiredMessage_orderId}">
                        <f:selectItems value="#{ordersEntityController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{transactionsEntityController.create}" value="#{bundle.CreateTransactionsEntitySaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{transactionsEntityController.prepareList}" value="#{bundle.CreateTransactionsEntityShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateTransactionsEntityIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
