<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <div class="form-product">
        <table>
            <tr>
                <td>
                    <h:outputLabel value="#{bundle.CreateEmployeesEntityLabel_firstName}" for="firstName" />
                    <h:inputText a:placeholder="First Name" value="#{employeesEntityController.selected.firstName}" id="firstName" required="true" requiredMessage="#{bundle.CreateEmployeesEntityRequiredMessage_firstName}"/>
                    <span>*<h:message for="firstName"/></span>
                </td>
                <td>
                    <h:outputLabel value="#{bundle.CreateEmployeesEntityLabel_lastName}" for="lastName" />
                    <h:inputText a:placeholder="Last Name" value="#{employeesEntityController.selected.lastName}" id="lastname" required="true" requiredMessage="#{bundle.CreateEmployeesEntityRequiredMessage_lastName}"/>
                    <span>*<h:message for="lastName"/></span>
                </td>
            </tr>
            <tr>
                <td>
                    <h:outputLabel value="#{bundle.CreateEmployeesEntityLabel_gender}" for="gender" />
                    <h:selectOneMenu id="gender" value="#{employeesEntityController.selected.gender}">
                        <f:selectItem itemValue="Nam" itemLabel="Nam"/>
                        <f:selectItem itemValue="Nu" itemLabel="Nu"/>
                        <f:selectItem itemValue="Khac" itemLabel="Khac"/>
                    </h:selectOneMenu>
                </td>
                <td>
                    <h:outputLabel value="#{bundle.CreateEmployeesEntityLabel_dateOfBirth}" for="dateOfBirth" />
                    <h:inputText a:placeholder="Date Of Birth" value="#{employeesEntityController.selected.dateOfBirth}" class="datepicker" id="dateofbirth">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                </td>
            </tr>
            <tr>
                <td>
                    <h:outputLabel value="#{bundle.CreateEmployeesEntityLabel_email}" for="email" />
                    <h:inputText a:placeholder="Email" value="#{employeesEntityController.selected.email}" id="email" required="true" requiredMessage="#{bundle.CreateEmployeesEntityRequiredMessage_email}"/>
                    <span>*<h:message for="email"/></span>
                </td>
                <td>
                    <h:outputLabel value="#{bundle.CreateEmployeesEntityLabel_phoneNumber}" for="phoneNumber" />
                    <h:inputText value="#{employeesEntityController.selected.phoneNumber}" a:placeholder="Phone Number" id="phonenumber"/><span>*</span>
                </td>
            </tr>
            <tr>
                <td>
                    <h:outputLabel value="#{bundle.CreateEmployeesEntityLabel_address}" for="addressId" />
                    <h:inputText id="addressId" a:placeholder="Address" value="#{employeesEntityController.selected.address}" required="true" requiredMessage="#{bundle.CreateEmployeesEntityRequiredMessage_address}"/>
                    <span>*<h:message for="addressId"/></span>
                </td>
            </tr>
            <tr>
                <td>
                    <h:outputLabel value="#{bundle.CreateEmployeesEntityLabel_provinceId}" for="province"/>
                    <h:selectOneMenu id="province" value="#{employeesEntityController.selected.provinceId}" required="true" requiredMessage="#{bundle.CreateEmployeesEntityRequiredMessage_province}">
                        <f:selectItems value="#{customersEntityController.returnProvince}"/>
                    </h:selectOneMenu>
                    <span><h:message for="province"/></span>
                </td>
                <td>
                    <h:outputLabel value="#{bundle.CreateEmployeesEntityLabel_district}" for="district"/>
                    <h:selectOneMenu id="district" value="#{employeesEntityController.selected.districtId}" required="true" requiredMessage="#{bundle.CreateEmployeesEntityRequiredMessage_district}">
                        <f:selectItems value="#{customersEntityController.returnDistrict}" />
                    </h:selectOneMenu>
                    <span><h:message for="district"/></span>
                </td>
            </tr>
        </table>
        <h:messages class="messagesucsess"/>
    </div>
</ui:composition>