<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
                template="./../../template/_layoutadminstrator.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="content">
        <h:form>
            <div class="form-product">
                <table>
                    <tr>
                        <td colspan="3"><h:outputText styleClass="headertitle" value="#{bundle.EditCategorysEntityTitle}"></h:outputText></td>
                    </tr>
                    <tr>
                        <td><h:outputLabel value="#{bundle.CreateCategorysEntityLabel_name}" for="name"/></td>
                        <td><h:inputText a:placeholder="#{bundle.EditCategorysEntityLabel_name}" id="name" value="#{categorysEntityController.selected.name}" title="#{bundle.CreateCategorysEntityTitle_name}" required="true" requiredMessage="#{bundle.CreateCategorysEntityRequiredMessage_name}"/></td>
                        <td><h:message for="name" errorStyle="color: red"/>
                        </td>
                    </tr>
                    <tr>
                        <td><h:outputLabel value="#{bundle.CreateCategorysEntityLabel_description}" for="description"/></td>
                        <td colspan="2"><h:inputTextarea a:placeholder="#{bundle.EditCategorysEntityLabel_description}" cols='47' rows='5' id="description" value="#{categorysEntityController.selected.description}" title="#{bundle.CreateCategorysEntityTitle_description}" /></td>
                    </tr>
                    <tr><td colspan="3"><h:messages class="messagesucsess"/>&nbsp;</td>
                    </tr>
                </table>
            </div>
            <div class="action">
                <h:commandButton action="#{categorysEntityController.update()}" value="Update Category"/>
                <h:commandButton action="#{dddd}" value="Reset"/>
            </div>
        </h:form>
    </ui:define>

</ui:composition>
