<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                template="./../../template/_layoutadminstrator.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <div class="main">
            <div class="content">
                <h:form>
                    <div class="content-top">
                        <div id="p-left">
                            <label>Danh Sach Cac Tinh/Thanh Pho</label>
                        </div>
                        <div id="p-right">
                            <h:commandButton action="#{provincesEntityController.prepareCreate()}" value="Them Moi"/>
                        </div>
                    </div>
                    <div class="content-bottom">
                        <div class="search">
                            <div class="search-input">
                                <h:inputText a:placeholder="Nhap Ten Tinh Hoac Thanh Pho" value="#{provincesEntityController.provinceName}"  id="provincename" />
                                <h:commandButton action="#{provincesEntityController.searchResult()}" value="Tim Kiem"/>
                            </div>
                            <div class="messages">
                                <h:messages class="messagesucsess"/>
                            </div>
                        </div>
                        <div class="viewproduct">
                            <h:panelGroup rendered="#{provincesEntityController.items.rowCount > 0}">
                                <div class="pagenumber">
                                    <h:outputText value="#{provincesEntityController.pagination.pageFirstItem + 1}..#{provincesEntityController.pagination.pageLastItem + 1}/#{provincesEntityController.pagination.itemsCount}"/>&nbsp;
                                    <h:commandLink action="#{provincesEntityController.previous}" value="#{bundle.Previous} #{provincesEntityController.pagination.pageSize}" rendered="#{provincesEntityController.pagination.hasPreviousPage}"/>&nbsp;
                                    <h:commandLink action="#{provincesEntityController.next}" value="#{bundle.Next} #{provincesEntityController.pagination.pageSize}" rendered="#{provincesEntityController.pagination.hasNextPage}"/>&nbsp;
                                </div>
                                <h:dataTable value="#{provincesEntityController.items}" var="item">
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListProvincesEntityTitle_provinceId}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.provinceId}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.ListProvincesEntityTitle_provinceName}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.provinceName}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="&nbsp;"/>
                                        </f:facet>
                                        <h:commandLink action="#{provincesEntityController.prepareEdit}">
                                            <h:graphicImage library="images" name="icon-edit.jpg"/>
                                        </h:commandLink>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="&nbsp;"/>
                                        </f:facet>
                                        <h:commandLink action="#{provincesEntityController.destroy}">
                                            <h:graphicImage library="images" name="icon-delete.jpg"/>
                                        </h:commandLink>
                                    </h:column>
                                </h:dataTable>
                            </h:panelGroup>
                        </div>
                    </div>
                </h:form>
            </div>
        </div>
    </ui:define>
</ui:composition>