<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditOrderdetailsEntityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditOrderdetailsEntityLabel_orderDetailId}" for="orderDetailId" />
                    <h:inputText id="orderDetailId" value="#{orderdetailsEntityController.selected.orderDetailId}" title="#{bundle.EditOrderdetailsEntityTitle_orderDetailId}" required="true" requiredMessage="#{bundle.EditOrderdetailsEntityRequiredMessage_orderDetailId}"/>
                    <h:outputLabel value="#{bundle.EditOrderdetailsEntityLabel_orderQuantity}" for="orderQuantity" />
                    <h:inputText id="orderQuantity" value="#{orderdetailsEntityController.selected.orderQuantity}" title="#{bundle.EditOrderdetailsEntityTitle_orderQuantity}" required="true" requiredMessage="#{bundle.EditOrderdetailsEntityRequiredMessage_orderQuantity}"/>
                    <h:outputLabel value="#{bundle.EditOrderdetailsEntityLabel_orderId}" for="orderId" />
                    <h:selectOneMenu id="orderId" value="#{orderdetailsEntityController.selected.orderId}" title="#{bundle.EditOrderdetailsEntityTitle_orderId}" required="true" requiredMessage="#{bundle.EditOrderdetailsEntityRequiredMessage_orderId}">
                        <f:selectItems value="#{ordersEntityController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditOrderdetailsEntityLabel_productId}" for="productId" />
                    <h:selectOneMenu id="productId" value="#{orderdetailsEntityController.selected.productId}" title="#{bundle.EditOrderdetailsEntityTitle_productId}" required="true" requiredMessage="#{bundle.EditOrderdetailsEntityRequiredMessage_productId}">
                        <f:selectItems value="#{productsEntityController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{orderdetailsEntityController.update}" value="#{bundle.EditOrderdetailsEntitySaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditOrderdetailsEntityViewLink}"/>
                <br />
                <h:commandLink action="#{orderdetailsEntityController.prepareList}" value="#{bundle.EditOrderdetailsEntityShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditOrderdetailsEntityIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
