<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListOrderdetailsEntityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListOrderdetailsEntityEmpty}" rendered="#{orderdetailsEntityController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{orderdetailsEntityController.items.rowCount > 0}">
                    <h:outputText value="#{orderdetailsEntityController.pagination.pageFirstItem + 1}..#{orderdetailsEntityController.pagination.pageLastItem + 1}/#{orderdetailsEntityController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{orderdetailsEntityController.previous}" value="#{bundle.Previous} #{orderdetailsEntityController.pagination.pageSize}" rendered="#{orderdetailsEntityController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{orderdetailsEntityController.next}" value="#{bundle.Next} #{orderdetailsEntityController.pagination.pageSize}" rendered="#{orderdetailsEntityController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{orderdetailsEntityController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOrderdetailsEntityTitle_orderDetailId}"/>
                            </f:facet>
                            <h:outputText value="#{item.orderDetailId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOrderdetailsEntityTitle_orderQuantity}"/>
                            </f:facet>
                            <h:outputText value="#{item.orderQuantity}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOrderdetailsEntityTitle_orderId}"/>
                            </f:facet>
                            <h:outputText value="#{item.orderId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOrderdetailsEntityTitle_productId}"/>
                            </f:facet>
                            <h:outputText value="#{item.productId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{orderdetailsEntityController.prepareView}" value="#{bundle.ListOrderdetailsEntityViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{orderdetailsEntityController.prepareEdit}" value="#{bundle.ListOrderdetailsEntityEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{orderdetailsEntityController.destroy}" value="#{bundle.ListOrderdetailsEntityDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{orderdetailsEntityController.prepareCreate}" value="#{bundle.ListOrderdetailsEntityCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListOrderdetailsEntityIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
