<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewOrderdetailsEntityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewOrderdetailsEntityLabel_orderDetailId}"/>
                    <h:outputText value="#{orderdetailsEntityController.selected.orderDetailId}" title="#{bundle.ViewOrderdetailsEntityTitle_orderDetailId}"/>
                    <h:outputText value="#{bundle.ViewOrderdetailsEntityLabel_orderQuantity}"/>
                    <h:outputText value="#{orderdetailsEntityController.selected.orderQuantity}" title="#{bundle.ViewOrderdetailsEntityTitle_orderQuantity}"/>
                    <h:outputText value="#{bundle.ViewOrderdetailsEntityLabel_orderId}"/>
                    <h:outputText value="#{orderdetailsEntityController.selected.orderId}" title="#{bundle.ViewOrderdetailsEntityTitle_orderId}"/>
                    <h:outputText value="#{bundle.ViewOrderdetailsEntityLabel_productId}"/>
                    <h:outputText value="#{orderdetailsEntityController.selected.productId}" title="#{bundle.ViewOrderdetailsEntityTitle_productId}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{orderdetailsEntityController.destroyAndView}" value="#{bundle.ViewOrderdetailsEntityDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewOrderdetailsEntityEditLink}"/>
                <br />
                <h:commandLink action="#{orderdetailsEntityController.prepareCreate}" value="#{bundle.ViewOrderdetailsEntityCreateLink}" />
                <br />
                <h:commandLink action="#{orderdetailsEntityController.prepareList}" value="#{bundle.ViewOrderdetailsEntityShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewOrderdetailsEntityIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
