<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditAddressEntityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditAddressEntityLabel_addressId}" for="addressId" />
                    <h:inputText id="addressId" value="#{addressEntityController.selected.addressId}" title="#{bundle.EditAddressEntityTitle_addressId}" required="true" requiredMessage="#{bundle.EditAddressEntityRequiredMessage_addressId}"/>
                    <h:outputLabel value="#{bundle.EditAddressEntityLabel_streetName}" for="streetName" />
                    <h:inputText id="streetName" value="#{addressEntityController.selected.streetName}" title="#{bundle.EditAddressEntityTitle_streetName}" />
                    <h:outputLabel value="#{bundle.EditAddressEntityLabel_districtId}" for="districtId" />
                    <h:selectOneMenu id="districtId" value="#{addressEntityController.selected.districtId}" title="#{bundle.EditAddressEntityTitle_districtId}" required="true" requiredMessage="#{bundle.EditAddressEntityRequiredMessage_districtId}">
                        <f:selectItems value="#{districtsEntityController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{addressEntityController.update}" value="#{bundle.EditAddressEntitySaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditAddressEntityViewLink}"/>
                <br />
                <h:commandLink action="#{addressEntityController.prepareList}" value="#{bundle.EditAddressEntityShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditAddressEntityIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
