<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListAddressEntityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListAddressEntityEmpty}" rendered="#{addressEntityController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{addressEntityController.items.rowCount > 0}">
                    <h:outputText value="#{addressEntityController.pagination.pageFirstItem + 1}..#{addressEntityController.pagination.pageLastItem + 1}/#{addressEntityController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{addressEntityController.previous}" value="#{bundle.Previous} #{addressEntityController.pagination.pageSize}" rendered="#{addressEntityController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{addressEntityController.next}" value="#{bundle.Next} #{addressEntityController.pagination.pageSize}" rendered="#{addressEntityController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{addressEntityController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAddressEntityTitle_addressId}"/>
                            </f:facet>
                            <h:outputText value="#{item.addressId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAddressEntityTitle_streetName}"/>
                            </f:facet>
                            <h:outputText value="#{item.streetName}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAddressEntityTitle_districtId}"/>
                            </f:facet>
                            <h:outputText value="#{item.districtId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{addressEntityController.prepareView}" value="#{bundle.ListAddressEntityViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{addressEntityController.prepareEdit}" value="#{bundle.ListAddressEntityEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{addressEntityController.destroy}" value="#{bundle.ListAddressEntityDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{addressEntityController.prepareCreate}" value="#{bundle.ListAddressEntityCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListAddressEntityIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
